@page "/about"

<section>
    <h1 class="verybig">O mně</h1>
    <div style="text-align: left;">
        <p>Ahoj, jsem Tobias, a rád bych vám pověděl něco víc o mně.</p>

        <p>
            Už od mala mě bavily počítače, natáčení videí a zkoumání. A tak mě napadlo, že bych mohl vytvořit webovou stránku, která obsahuje informace z mluvnického sešitu.
        </p>
        <p>Tato stránka zařazuje vše přehledně do kategorií a snažím se udělat mluvnický sešit na webu ještě lepší.</p>

        <p>
            Ohledně kontaktu - je rozšířený kontakt, kde se nám můžete ozvat <a href="mailto:henematobik213@gmail.com?subject=Pomoc pro Tobikovo">zde</a>.
        </p>
    </div>
</section>

@code {

}
