@page "/about"

<section>
    <h1 class="verybig">O nás</h1>
    <div style="text-align: left;">
        <p>Ahoj! Jak se máte? Jsem Tobias, a rád bych vám pověděl něco víc o naší malé webové rodině.</p>

        <p>
            Už od mala mě vábily počítače, natáčení videí a zkoumání, jak se věci dělají - prostě všechno kolem
            technologií. A teď máme společný sen - vytvořit si vlastní webovou stránku. S kamarády jsme se do
            toho
            pustili s nadšením a radostí.
        </p>

        <p>
            Naše stránka je teď v betě, a my se snažíme o neustálé vylepšování. Miluji programování a
            technologie, a
            věřím, že s tím budu moci udělat něco skvělého.
        </p>

        <p>
            A když už mluvím o změnách, snad jste si všimli, že na této verzi stránky jsme provedli několik
            úprav. Začal
            jsem prakticky od nuly, aby stránka byla nejen "clean", ale měla i pěkný design, i na mobilu. A
            nezapomeňte,
            že máme otevřené dveře pro vaše nápady a názory.
        </p>

        <p>
            Ohledně kontaktu - je rozšířený kontakt, kde se nám můžete ozvat <a href="mailto:henematobik213@gmail.com?subject=Pomoc pro Tobikovo">zde</a>.
        </p>
    </div>
</section>

@code {

}
