@page "/ch-deleni-latek"

<PageTitle>Dělení látek</PageTitle>

<section>
    <h1 class="verybig">Dělení látek</h1>
    <div style="text-align: left;">
        <h2>Dělení</h2>
        <ul>
            <li>podle barvy</li>
            <li>podle tvaru</li>
            <li>podle skupenství</li>
            <ul>
                <li>pevné - objem, tvar</li>
                <li>kapalné - objem, tvar podle nádoby</li>
                <li>plynné - mění tvar i objem</li>
            </ul>
            <li>podle tvrdosti</li>
            <li>podle hustoty</li>
            <li>podle velikosti</li>
            <li>podle chuti</li>
            <li>podle teploty varu</li>
            <li>podle zápachu/vůně</li>
            <li>podle ceny</li>
            <li>podle původu</li>
            <ul>
                <li>přírodní (dřevo, uhlí)</li>
                <li>vyrobené (papír, plasty)</li>
                <li>odpady (průmyslové)</li>
            </ul>
        </ul>
    </div>
</section>