@page "/ch-rozdily"

<PageTitle>Rozdíly</PageTitle>

<section>
    <h1 class="verybig">Rozdíly</h1>
    <div style="text-align: left;">
        <p>Tělesa jsou tvořena z látek. Mají tvar a velikost.</p>
        <p>stůl - dřevo<br>sešit - papír<br>hrnek - porcelán, keramika</p>
    </div>
</section>