@page "/ch-slozeni-latek"

<PageTitle>Složení látek</PageTitle>

<section>
    <h1 class="verybig">Složení látek</h1>
    <div style="text-align: left;">
        <h2>Částice látek</h2>
        <p>Látky jsou složeny z částice, částice jsou v neustálém pohybu (někdy mohou pronikat do druhé -
            směsi).</p>
        <h2>Atom</h2>
        <ul>
            <li>počet protonů je shodný s počtem elektronů</li>
            <li>atom je elektricky neutrální</li>
            <li>drzí pohromadě díky elektrostatickým silám mezi jádrem a obalem atomu</li>
        </ul>
    </div>
</section>