@page "/ch-smesi"

<PageTitle>Směsi</PageTitle>

<section>
            <h1 class="verybig">Směsi</h1>
            <div style="text-align: left;">
                <h2>Základy</h2>
                <ul>
                    <li>látky složené s více růžných látek</li>
                    <li>typy</li>
                    <ul>
                        <li>stejnorodá - <span class="underlined">roztoky</span></li>
                        <ul>
                            <li>složky nevidíme ani pod mikroskopem</li>
                        </ul>
                        <li>různorodá</li>
                        <ul>
                            <li>složky vidíme</li>
                            <li>typy</li>
                            <ul>
                                <li>suspenze - pevná nerozpustná látka v kapalině</li>
                                <li>emulze - 2 nesmísitelné látky</li>
                                <li>pěna - plyn v kapalině</li>
                                <li>aerosoly</li>
                                <ul>
                                    <li>mlha - kapalina v plynu</li>
                                    <li>dým - pevná látka v plynu</li>
                                </ul>
                            </ul>
                        </ul>
                    </ul>
                </ul>
                <h2>Roztoky</h2>
                <ul>
                    <li>skládají se z rozpouštědla a rozpouštěné látky</li>
                    <li>většinou jsou kapalné, mohou být i pevné (slitiny) a plynné (např. vzduch)</li>
                    <li>vyjádření složení</li>
                    <ul>
                        <li>procenta</li>
                        <li>hmotnostní zlomek (w)</li>
                        <ul>
                            <li>vzorec: w= m(A) ÷ m(roztok)</li>
                            <ul>
                                <li>m - hmotnost látky</li>
                                <li>m (roztok) - hmotnost roztoku</li>
                                <li>w - 100% složení roztoku</li>
                            </ul>
                        </ul>
                    </ul>
                </ul>
            </div>
        </section>