@page "/ch-vlastnosti-latek"

<PageTitle>Vlastnosti látek</PageTitle>

<section>
    <h1 class="verybig">Vlastnosti látek</h1>
    <div style="text-align: left;">
        <h2>Vlastnosti</h2>
        <h3>Kvalitativní</h3>
        <ul>
            <li>popisujeme a pozorujeme smysly</li>
        </ul>
        <h3>Kvantitativní</h3>
        <ul>
            <li>umíme změřit</li>
        </ul>
        <h2>Katalizátory</h2>
        <p>Katalizátory ovlivňují reakci, jsou částí chemické reakce, ale po reakci zůstávaji beze změny.</p>
        <h2>Zjišťování vlastností</h2>
        <ul>
            <li>pozorováním</li>
            <ul>
                <li>zrakem</li>
                <li>čichem</li>
                <li>hmatem</li>
                <li>sluchem</li>
                <li>ne chutí</li>
            </ul>
            <li>měřením</li>
            <ul>
                <li>kvalitativní měření (bod varu, hustota)</li>
            </ul>
            <li>pokusy</li>
            <ul>
                <li>musí se dodržovat přesný postup bezpečnosti</li>
            </ul>
        </ul>
        <h2>Nebezpečné látky</h2>
        <ul>
            <li>vážná porazení nebo smrt</li>
            <li>látky se dodávají s bezpočnostním listem</li>
            <ul>
                <li>h věty - rizika</li>
                <li>p věty - doporučení</li>
            </ul>
        </ul>
    </div>
</section>