@page "/changelog"

<PageTitle>Changelog</PageTitle>

<section>
    <h1 class="verybig">Changelog</h1>
    <h1>2024</h1>
    <div style="text-align: left;">
        <h2>15. 5.</h2>
        <ul>
            <li>mám všechna nová učiva hotova</li>
            <li>opravil jsem stylové chyby</li>
            <li>Blazor verze stránky připravena k pushi</li>
            <li>v následujícím měsíci budu přestupovat na Blazor</li>
        </ul>
        <h2>4. 5. - Razantní update</h2>
        <ul>
            <li>smazal jsem všechny předměty až na český jazyk, hudebku jsem zatím přesunul</li>
            <li>přidal jsem čátu v navigaci</li>
            <li>konečně jsem sjednotil styl grid-item pro mobily a počítače</li>
            <li>udělal jsem klikatelné grid-itemy</li>
            <li>zmenšil jsem nadpisy a celkově byl optimalizován styl pro mobily</li>
            <li>přidán changelog</li>
        </ul>
    </div>
</section>