@page "/f-delka"

<PageTitle>Délka - Fyzika - Tobikovo</PageTitle>

<section>
    <h1 class="verybig">Délka</h1>
    <div style="text-align: left;">
        <h2>Informace</h2>
        <ul>
            <li>značka - d</li>
            <li>měřidlo - metr</li>
            <li>jednotky - m, km, dm, cm, mm</li>
        </ul>
    </div>
</section>