@page "/f-draha"

<PageTitle>Dráha - Fyzika - Tobikovo</PageTitle>

<section>
    <h1 class="verybig">Dráha</h1>
    <div style="text-align: left;">
        <h2>Informace</h2>
        <ul>
            <li>značka - s</li>
            <li>měřidlo - metr</li>
            <li>jednotky - m, dm, cm, mm, km</li>
        </ul>
    </div>
</section>