@page "/f-hmotnost"

<PageTitle>Hmotnost - Fyzika - Tobikovo</PageTitle>

<section>
    <h1 class="verybig">Hmotnost</h1>
    <div style="text-align: left;">
        <h2>Informace</h2>
        <ul>
            <li>značka - m</li>
            <li>měřidlo - váha</li>
            <li>jednotky - g, kg, dg, cg, mg, dkg, hg</li>
        </ul>
    </div>
</section>