@page "/f-jed-stroje"

<PageTitle>Jednosuché stroje - Fyzika - Tobikovo</PageTitle>

<section>
    <h1 class="verybig">Jednoduché stroje</h1>
    <div style="text-align: left;">
        <h2>Páka</h2>
        <img src="images/paka.png" width="250rem" class="blog-image" alt="">
        <ul>
            <li>souží ke změně sil</li>
            <li>použití - otvíráky, kleště, nůžky...</li>
        </ul>
        <p>*obrázek - Potřebuji využít?</p>
        <h2>Kladka</h2>
        <img src="images/kladka.png" height="150rem" class="blog-image" alt="">
        <ul>
            <li>kruh s drážkou po obvodu</li>
            <li>dělí se na</li>
            <ul>
                <li>pevná - je připevněná</li>
                <li>volná - volně visí na laně, připevnná tak, aby nevypadla</li>
            </ul>
        </ul>
        <h2>Kladkostroj</h2>
        <img src="images/kladkostroj.png" height="150rem" class="blog-image" alt="">
        <ul>
            <li>vzniká spojením 2 a více kladek</li>
            <li>využití - jeřáb</li>
            <li>umožní zvedat tělesa s menší silou, 1 kladky = polovina síly, 3 kladky = třetina síly, 4 kladky
                = čtvrtina síly (musím vyvinout)</li>
        </ul>
    </div>
</section>