@page "/f-obsah"

<PageTitle>Obsah - Fyzika - Tobikovo</PageTitle>

<section>
    <h1 class="verybig">Obsah</h1>
    <div style="text-align: left;">
        <h2>Informace</h2>
        <ul>
            <li>značka - S</li>
            <li>jednotky - m², dm², cm², mm², km², a, ha</li>
            <li>vzorec - záleží na tělese, geometrické tvary <a href="geo-geom-tvary">zde</a></li>
        </ul>
    </div>
</section>