@page "/f-objem"

<PageTitle>Objem - Fyzika - Tobikovo</PageTitle>

<section>
    <h1 class="verybig">Objem</h1>
    <div style="text-align: left;">
        <h2>Informace</h2>
        <ul>
            <li>značka - V</li>
            <li>měřidlo - odměrný válec</li>
            <li>jednotky - m³, km³, dm³, cm³, mm³</li>
            <li>vzorec - záleží na tělese, geometrické tvary <a href="geo-geom-tvary">zde</a></li>
        </ul>
    </div>
</section>