@page "/f-prace"

<PageTitle>Práce - Fyzika - Tobikovo</PageTitle>

<section>
    <h1 class="verybig">Práce</h1>
    <div style="text-align: left;">
        <h2>Informace</h2>
        <ul>
            <li>těleso poná práci pokud působí silou na jiné těleso a přesune ho po dráze</li>
            <li>značka - W</li>
            <li>jednotky - J (joule), kJ (kilojoule), mJ (megajoule)</li>
            <li>vzorec - <code class="priklad">W = F × s</code> (<a href="f-sila">sílu</a> vynásobím <a href="f-draha">dráhou</a>)</li>
        </ul>
        <h2>Počítání</h2>
        <p>Nesu 8 kilový batoh 20 km, jakou práci vykonávám?</p>
        <p class="priklad">8kg = 80N; 20km = 20 000m<br>W = F × s<br>W = 80 × 20 000<br>W = 1 600 000J<br>W =
            1,6mJ</p>
        <p>Vykonám práci za 1,6mJ.</p>
    </div>
</section>