@page "/f-sila"

<PageTitle>Síla - Fyzika - Tobikovo</PageTitle>

<section>
    <h1 class="verybig">Síla</h1>
    <div style="text-align: left;">
        <h2>Informace</h2>
        <ul>
            <li>značka - F</li>
            <li>měřidlo - siloměr</li>
            <li>jednotky - N (newton), kN (kilonewton), mN (meganewton)</li>
        </ul>
        <h3>Typy</h3>
        <ul>
            <li>gravitační - M</li>
            <ul>
                <li>působí na všechna tělesa v poly</li>
                <li>výpočet - kg × 10</li>
                <li>směr - do středu, svislý</li>
                <li></li>
            </ul>
            <li>elektrická</li>
            <li>magnetická</li>
            <li>odstředivá</li>
            <li>svalová</li>
            <li>jaderná</li>
            <li>tažná</li>
            <li>vodní</li>
            <li><a href="f-tlak">tlaková</a></li>
        </ul>
    </div>
</section>