@page "/f-teplota"

<PageTitle>Teplota - Fyzika - Tobikovo</PageTitle>

<section>
    <h1 class="verybig">Teplota</h1>
    <div style="text-align: left;">
        <h2>Informace</h2>
        <ul>
            <li>značka - T</li>
            <li>měřidlo - teploměr</li>
            <li>jednotky - ˚C, ˚K, ˚F</li>
        </ul>
    </div>
</section>