@page "/f-veliciny"

<PageTitle>Veličiny - Fyzika - Tobikovo</PageTitle>

        <section>
            <h1 class="verybig">Veličiny</h1>
            <div style="text-align: left;">
                <ul class="grid">
                    <li class="grid-item">
                        <a href="f-delka">
                            <h3 class="grid-h3">DÉLKA</h3>
                        </a>
                    </li>
                    <li class="grid-item">
                        <a href="f-hmotnost">
                            <h3 class="grid-h3">HMOTNOST</h3>
                        </a>
                    </li>
                    <li class="grid-item">
                        <a href="f-obsah">
                            <h3 class="grid-h3">OBSAH</h3>
                        </a>
                    </li>
                    <li class="grid-item">
                        <a href="f-objem">
                            <h3 class="grid-h3">OBJEM</h3>
                        </a>
                    </li>
                    <li class="grid-item">
                        <a href="f-cas">
                            <h3 class="grid-h3">ČAS</h3>
                        </a>
                    </li>
                    <li class="grid-item">
                        <a href="f-teplota">
                            <h3 class="grid-h3">TEPLOTA</h3>
                        </a>
                    </li>
                    <li class="grid-item">
                        <a href="f-rychlost">
                            <h3 class="grid-h3">RYCHLOST</h3>
                        </a>
                    </li>
                    <li class="grid-item">
                        <a href="f-sila">
                            <h3 class="grid-h3">SÍLA</h3>
                        </a>
                    </li>
                    <li class="grid-item">
                        <a href="f-tlak">
                            <h3 class="grid-h3">TLAK</h3>
                        </a>
                    </li>
                    <li class="grid-item">
                        <a href="f-draha">
                            <h3 class="grid-h3">DRÁHA</h3>
                        </a>
                    </li>
                    <li class="grid-item">
                        <a href="f-hustota">
                            <h3 class="grid-h3">HUSTOTA</h3>
                        </a>
                    </li>
                    <li class="grid-item">
                        <a href="f-prace">
                            <h3 class="grid-h3">PRÁCE</h3>
                        </a>
                    </li>
                    <li class="grid-item">
                        <a href="f-vykon">
                            <h3 class="grid-h3">VÝKON</h3>
                        </a>
                    </li>
                    <li class="grid-item">
                        <a href="f-energie">
                            <h3 class="grid-h3">ENERGIE</h3>
                        </a>
                    </li>
                </ul>
            </div>
        </section>