@page "/fyzika"

<PageTitle>Fyzika - Tobikovo</PageTitle>

<section id="#ucivo">
    <h1 class="verybig">Fyzika</h1>
    <ul class="grid">
        <li class="grid-item">
            <a href="f-veliciny">
                <h3 class="grid-h3">VELIČINY</h3>
            </a>
        </li>
        <li class="grid-item">
            <a href="f-ostatni">
                <h3 class="grid-h3">OSTATNÍ</h3>
            </a>
        </li>
    </ul>
</section>