@page "/geo-pra-sous-sour"

<PageTitle>Pravoúhlá soustava souřadnic</PageTitle>

<section>
    <h1 class="verybig">Pravoúhlá soustava souřadnic</h1>
    <div style="text-align: left;">
        <h2>Informace</h2>
        <img src="images/prasousour.png" width="250px" style="border-radius: 10px;"
             alt="Pravoúhlá soustava souřadnic">
        <p>pravoúhlá soustava souřadnic</p>
        <img src="images/hyperbolllla.png" width="250px" style="border-radius: 10px;" alt="Hyperbola">
        <p>Hyperbola (nikdy se nedotkne os)</p>
    </div>
</section>