@page "/geo-o-soumernost"

<PageTitle>Osová souměrnost</PageTitle>

<section>
    <h1 class="verybig">Osová souměrnost</h1>
    <div style="text-align: left;">
        <h2>Informace</h2>
        <ul>
            <li>
                každý bod obrazce zobrazen na druhou stranu osy souměrnosti, tak aby vzdálenost od osy zůstala
                stejná
            </li>
            <li>výsledkem je zrcadlový obraz původního tvaru</li>
        </ul>
        <img src="images/o-soumernost.png" style="border-radius: 10px;" width="270px" alt="Osová souměrnost">
    </div>
</section>