@page "/hv-basen"

<PageTitle>Symfonická báseň</PageTitle>

<section>
    <h1 class="verybig">Symfonická báseň</h1>
    <div style="text-align: left;">
        <h2>Informace</h2>
        <ul>
            <li>jednovětá skladba pro symfonický orchestr</li>
            <li>dílo programní (z historie, z literatury, z přírody)</li>
            <li>jeden z nejznámějsích cyklu syb. básní má název Má Vlast:</li>
            <ul>
                <li>Vyšehrad</li>
                <li>Vltava - První pramen Vltavy, Druhý pramen Vltavy, Široký tok Vltavy, Lesní honba, Venkovská svatba, Luna, rej rusalek, Svatojánské proudy, Motiv Vyšehradu, Závěr</li>
                <li>Šárka</li>
                <li>Z českých luhů a hájů</li>
                <li>Tábor</li>
                <li>Blaník</li>
            </ul>
        </ul>
    </div>
</section>