@page "/hv-dila"

<PageTitle>Hudební díla</PageTitle>

<section>
    <h1 class="verybig">Hudební díla</h1>
    <ul class="grid">
        <li class="grid-item">
            <h3>Koncert</h3>
            <div class="grid-content">
                <button type="button" class="ripple-button" onclick="openKoncert()">Otevřít</button>
            </div>
        </li>
        <li class="grid-item">
            <h3>Kantáta</h3>
            <div class="grid-content">
                <button type="button" class="ripple-button" onclick="openKantata()">Otevřít</button>
            </div>
        </li>
        <li class="grid-item">
            <h3>Oratorium</h3>
            <div class="grid-content">
                <button type="button" class="ripple-button" onclick="openOratorium()">Otevřít</button>
            </div>
        </li>
        <li class="grid-item">
            <h3>Sonáta</h3>
            <div class="grid-content">
                <button type="button" class="ripple-button" onclick="openSonata()">Otevřít</button>
            </div>
        </li>
        <li class="grid-item">
            <h3>Symfonie</h3>
            <div class="grid-content">
                <button type="button" class="ripple-button" onclick="openSymfonie()">Otevřít</button>
            </div>
        </li>
        <li class="grid-item">
            <h3>Muzikál</h3>
            <div class="grid-content">
                <button type="button" class="ripple-button" onclick="openMuzikal()">Otevřít</button>
            </div>
        </li>
        <li class="grid-item">
            <h3>Symfonická báseň</h3>
            <div class="grid-content">
                <button type="button" class="ripple-button2" onclick="openBasen()">Otevřít</button>
            </div>
        </li>
    </ul>
</section>

<script>
    function openKoncert() {
        window.location.href = "hv-koncert"
    }
</script>
<script>
    function openKantata() {
        window.location.href = "hv-kantata"
    }
</script>
<script>
    function openOratorium() {
        window.location.href = "hv-oratorium"
    }
</script>
<script>
    function openSonata() {
        window.location.href = "hv-sonata"
    }
</script>
<script>
    function openSymfonie() {
        window.location.href = "hv-symfonie"
    }
</script>
<script>
    function openMuzikal() {
        window.location.href = "hv-muzikal"
    }
</script>
<script>
    function openBasen() {
        window.location.href = "hv-basen"
    }
</script>