@page "/hv-dila"

<PageTitle>Díla</PageTitle>

<section>
            <h1 class="verybig">Díla</h1>
            <ul class="grid">
                <a href="hv-koncert">
                    <li class="grid-item">
                        <h3 class="grid-h3">KONCERT</h3>
                    </li>
                </a>
                <a href="hv-kantata">
                    <li class="grid-item">
                        <h3 class="grid-h3">KANTÁTA</h3>
                    </li>
                </a>
                <a href="hv-oratorium">
                    <li class="grid-item">
                        <h3 class="grid-h3">ORATORIUM</h3>
                    </li>
                </a>
                <a href="hv-sonata">
                    <li class="grid-item">
                        <h3 class="grid-h3">SONÁTA</h3>
                    </li>
                </a>
                <a href="hv-symfonie">
                    <li class="grid-item">
                        <h3 class="grid-h3">SYMFONIE</h3>
                    </li>
                </a>
                <a href="hv-muzikal">
                <li class="grid-item">
                    <h3 class="grid-h3">MUTIKÁL</h3>
                </li>
                </a>
                <a href="hv-basen">
                    <li class="grid-item">
                        <h3 class="grid-h3">BÁSEŇ</h3>
                    </li>
                </a>
            </ul>
        </section>