@page "/hv-hlasy"

<PageTitle>Hlasy</PageTitle>
<link rel="stylesheet" href="tabulkad.css">

<section>
    <h1 class="verybig">Zpěvní hlasy</h1>
    <div style="text-align: left;">
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>mužský</th>
                    <th>ženský</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <p>vysoké</p>
                        <p>střední</p>
                        <p>nízké</p>
                    </td>
                    <td>
                        <p>tenor</p>
                        <p>baryton</p>
                        <p>bas</p>
                    </td>
                    <td>
                        <p>soprán</p>
                        <p>mezzosoprán</p>
                        <p>alt</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>