@page "/hv-jmena-not"

<PageTitle>Jména not</PageTitle>

<section>
    <h1 class="verybig">Jména not</h1>
    <div style="text-align: left;">
        <h2>Jména</h2>
        <p>
            Asi si myslíte, že celá, půlové atd. jsou jména not, ale musím vás zklamat, protože jména not jsou: c, d, e,
            f, g, a, h, c2
        </p>
        <p>Toto jsou tóny not:</p>
        <img src="images/jmena-not.gif" alt="(jména not)" height="105rem">
    </div>
</section>