@page "/hv-kantata"

<PageTitle>Kantáta</PageTitle>

<section>
    <h1 class="verybig">Kantáta</h1>
    <div style="text-align: left;">
        <h2>Informace</h2>
        <ul>
            <li>skladba pro sbor, sólisty a orchestr</li>
            <li>námět světský</li>
            <li>vznik v době Baroka</li>
            <li>nejslavnější skladatel: J. S. Bach - Matoušovy pašije</li>
        </ul>
    </div>
</section>