@page "/hv-muzikal"

<PageTitle>Muzikál</PageTitle>

<section>
    <h1 class="verybig">Muzikál</h1>
    <div style="text-align: left;">
        <h2>Informace</h2>
        <ul>
            <li>divadelní hra, která většinou končí šťastně</li>
            <li>hodně se zpívá a tančí</li>
            <li>základem je často milostný příběh</li>
            <li>nejslavnější muzikály</li>
            <ul>
                <li>My Fair lady</li>
                <li>West Side Story</li>
                <li>Hair</li>
                <li>Dracula</li>
                <li>Děti ráje</li>
                <li>Noc na Karlštejně</li>
            </ul>
        </ul>
    </div>
</section>