@page "/hv-noty-pomlky"

<PageTitle>Noty a pomlky</PageTitle>

<section>
    <h1 class="verybig">Noty a pomlky</h1>
    <div style="text-align: left;">
        <img src="images/noty-pomlky.png" alt="vše" height="120px">
    </div>
</section>