@page "/hv-orchestralni"

<PageTitle>Orchestrální nástroje</PageTitle>

<section>
    <h1 style="font-size: 50px;">Orchestrální nástroje</h1>
    <div style="text-align: left;">
        <h2>Schéma orchestru</h2>
        <img src="images/schema-orchestru.jpg" class="rounded" alt="Schéma orchestru" height="200rem">
        <h3>nástroje smyčcové</h3>
        <ul>
            <li>housle</li>
            <li>viola</li>
            <li>violoncello</li>
            <li>kontrabas</li>
        </ul>
        <h3>nástroje dechové (dřevěné)</h3>
        <ul>
            <li>pikola</li>
            <li>příčná flétna</li>
            <li>klarinet</li>
            <li>fagot</li>
        </ul>
        <h3>nástroje dechové (plechové)</h3>
        <ul>
            <li>trubka</li>
            <li>lesní roh</li>
            <li>pozoun</li>
            <li>tuba</li>
        </ul>
        <h3>nástroje bicí</h3>
        <ul>
            <li>velký buben, malý buben</li>
            <li>činely</li>
            <li>timpány</li>
        </ul>
    </div>
</section>