@page "/hv-oratorium"

<PageTitle>Oratorium</PageTitle>

<section>
    <h1 class="verybig">Oratorium</h1>
    <div style="text-align: left;">
        <h2>Informace</h2>
        <ul>
            <li>vznik - Itálie - 17. století</li>
            <li>pro sólisty, sbor a orchestr</li>
            <li>námět - světský</li>
            <li>nejslavnější skladatel: G. F. Händel - Mesiáš</li>
        </ul>
    </div>
</section>