@page "/hv-pisne-pracovni"

<PageTitle>Pracovní písně</PageTitle>

<section>
            <h1 class="verybig">Blues, spirituály a pracovní písně</h1>
            <div style="text-align: left;">
                <h2>Základy</h2>
                <ul>
                    <li>nejznámějsí jsou písně amerických otroků</li>
                    <li>písně si zpívali při práci i po prácí</li>
                </ul>
                <h3>Schéma</h3>
                <p>Afrika -> černoši (negroidní rasa) -> Amerika -> otroci</p>
                <h2>Blues</h2>
                <p>zpíval to jeden člověk, námět světský</p>
                <h2>Spirituály</h2>
                <p>zpívali to sborově, námět duchovní</p>
                <h2>Sběratelé písní</h2>
                <ul>
                    <li>lidové se uchovaly nejen díky palěti, ale hlavně díky sběratelům lidových písní</li>
                    <li>první sběratelé působili koncem 18. století</li>
                    <li>naši nejznámějsí:</li>
                    <ul>
                        <li>K. J. Erben</li>
                        <li><a href="hv-janacek">Leoš Janáček</a></li>
                        <li>František Sušil</li>
                    </ul>
                </ul>
            </div>
        </section>