@page "/hv-pisne"

<PageTitle>Písně</PageTitle>

<section>
    <h1 class="verybig">Písně</h1>
    <ul class="grid">
        <li class="grid-item">
            <h3>Dělení</h3>
            <div class="grid-content">
                <button type="button" class="ripple-button" onclick="openDeleni()">Otevřít</button>
            </div>
        </li>
        <li class="grid-item">
            <h3>Písně o vojně</h3>
            <div class="grid-content">
                <button type="button" class="ripple-button" onclick="openVojne()">Otevřít</button>
            </div>
        </li>
        <li class="grid-item">
            <h3>Milostné písně</h3>
            <div class="grid-content">
                <button type="button" class="ripple-button2" onclick="openMilostne()">Otevřít</button>
            </div>
        </li>
        <li class="grid-item">
            <h3>Pracovní písně</h3>
            <div class="grid-content">
                <button type="button" class="ripple-button2" onclick="openPracovni()">Otevřít</button>
            </div>
        </li>
        <li class="grid-item">
            <h3>Polyfonie a homofonie</h3>
            <div class="grid-content">
                <button type="button" class="ripple-button2" onclick="openPolyHomo()">Otevřít</button>
            </div>
        </li>
    </ul>
</section>


<script>
    function openDeleni() {
        window.location.href = "hv-pisne-deleni"
    }
</script>
<script>
    function openVojne() {
        window.location.href = "hv-pisne-vojne"
    }
</script>
<script>
    function openPracovni() {
        window.location.href = "hv-pisne-pracovni"
    }
</script>
<script>
    function openMilostne() {
        window.location.href = "hv-pisne-milostne"
    }
</script>
<script>
    function openPolyHomo() {
        window.location.href = "hv-pisne-poly-homo"
    }
</script>