@page "/hv-pisne-vojne"

<PageTitle>Písně o vojně</PageTitle>

<section>
    <h1 class="verybig">Písně o vojně</h1>
    <div style="text-align: left;">
        <h2>V Hodoníně za vojáčka</h2>
        <ul>
            <li>mateník - píseň s proměnlivým taktem, neustálé střídání (např. 6/8, 4/8)</li>
        </ul>
        <h2>Tatíčku můj starý</h2>
        <ul>
            <li>lyrickoepická píseň</li>
        </ul>
    </div>
</section>