@page "/hv-pisne-deleni"

<PageTitle>Dělení písní</PageTitle>

<section>
    <h1 class="verybig">Dělení</h1>
    <div style="text-align: left;">
        <h2>Dělení:</h2>
        <h3>Lidové</h3>
        <ul>
            <li>neznáme autora</li>
            <li>předávali se ustně, docházelo ke zněnám textu nebo melodie</li>
        </ul>
        <h3>Umělé</h3>
        <ul>
            <li>známe autora hudby i textu</li>
        </ul>
    </div>
</section>