@page "/hv-sonata"

<PageTitle>Sonáta</PageTitle>

<section>
    <h1 class="verybig">Sonáta</h1>
    <div style="text-align: left;">
        <h2>Informace</h2>
        <ul>
            <li>skladba pro sólový nástroj (klavír) nebo pro sólový nástroj (housle, flétna, trubka...) s doprovodem klavíru</li>
            <li>má 4 věty:</li>
            <ul>
                <li>1. - rychlé tempo</li>
                <li>2. - pomalé tempo</li>
                <li>3. - taneční</li>
                <li>4. - rychle tempo</li>
            </ul>
        </ul>
    </div>
</section>