@page "/hv-symfonickeho-orchestru"

<PageTitle>Nástroje symfonického orchestru</PageTitle>

<section>
    <h1 class="verybig">Nástroje symfonického orchestru</h1>
    <div style="text-align: left;">
        <h2>Nástroje</h2>
        <ul>
            <li>smyčcové - housle, viola, violoncello, kontrabas</li>
            <li>dechové dřevěné - příčná flétna, klarinet, fagot</li>
            <li>dechové plechové - trubka, lesní roh, pozoun, tuba</li>
            <li>bicí - velký buben, malý buben, tympány, činely (tamburína, triangl...)</li>
        </ul>
    </div>
</section>