@page "/hv-symfonie"

<PageTitle>Symfonie</PageTitle>

<section>
    <h1 class="verybig">Symfonie</h1>
    <div style="text-align: left;">
        <h2>Informace</h2>
        <ul>
            <li>skladba určená pro symfonický orchestr</li>
            <li>sonátového typu</li>
            <li>4 věty</li>
            <li>nejslavnější skladatelé:</li>
            <ul>
                <li>J. Haydn - S úderem kotlů</li>
                <li>L. van Beethoven - Symfonie č. 5 "Osudová", Symfonie č. 9 "S Ódou na radost"</li>
                <li>A. Dvořák - Symfonie č. 9 "Novosvětská"</li>
            </ul>
        </ul>
    </div>
</section>