@page "/hv-slozeni-noty"

<PageTitle>Složení not</PageTitle>

<section>
    <h1 class="verybig">Složení noty</h1>
    <div style="text-align: left;">
        <h2>Složení</h2>
        <p>To vypadá následovně:</p>
        <img src="images/nota-popis.png" alt="(složení noty)">
        <ol>
            <li>praporek (od noty osminové), může se místo něco udělat trámec: 🎵</li>
            <li>nožička (od noty půlové)</li>
            <li>hlavička</li>
        </ol>
        <p>Nota je kratší, když toho má více na sobě: vyplněná hlavička, nožička, praporek, 2 praporky atd.</p>
    </div>
</section>
