@page "/hv-takty-dirigovani"

<PageTitle>Taktování a dirigování</PageTitle>

<section>
    <h1 class="verybig">Taktování a dirigování</h1>
    <div style="text-align: left;">
        <h2>Taktování</h2>
        <h3>Informace</h3>
        <p>Taktování je pouhé ukazování taktu podle taktovacího schématu:</p>
        <h3>Taktovací schéma</h3>
        <img style="border-radius: 10px;" width="170rem" src="images/taktovani.png" alt="Chyba není na mé straně...">
        <h2>Dirigování</h2>
        <h3>Informace</h3>
        <ul>
            <li>dirigent - řídí orchestr, používá taktovku, ukazuje dynamiku, nástupy nástrojů, udává tempo</li>
            <li>sbormistr - řídí pěvecký sbor</li>
        </ul>
    </div>
</section>