@page "/hv-znamenka-sily"

<PageTitle>Znaménka síly</PageTitle>

        <section>
            <h1 class="verybig">Znaménka síly</h1>
            <div style="text-align: left;">
                <h2>Znaménka</h2>
            <ul>
                <li><em>p</em> - piano (slabší)</li>
                <li><em>mf</em> - mezzoforte - (středně)</li>
                <li><em>f</em> - forte (silně)</li>
            </ul>
            </div>
        </section>