@page "/hv-zanry"

<PageTitle>Žánry</PageTitle>

<section>
    <h1 class="verybig">Žánry</h1>
    <ul class="grid">
        
        <li class="grid-item">
            <a href="hv-jazz">
                <h3 class="grid-h3">JAZZ</h3>
            </a>
        </li>
        <li class="grid-item">
            <a href="hv-rock-and-roll">
                <h3 class="grid-h3">ROCK & ROLL</h3>
            </a>
        </li>
        
    </ul>
</section>