@page "/li-a-a-a"

<PageTitle>Alegorie, Apostrofa, Anafora</PageTitle>

<section>
    <h1 class="verybig">Alegorie, Apostrofa, Anafora</h1>
    <div style="text-align: left;">
        <h2>Alegorie</h2>
        <ul>
            <li>skrytý smysl - něco, co nesmí být vyjádřeno přímo (bajky)</li>
        </ul>
        <h2>Apostrofa</h2>
        <ul>
            <li>básnické oslovení věci, zvířete, nepřítomné osoby</li>
            <li>příklady: Čechy krásné, Čechy mé, obraze rámu prastarého - Hrubín</li>
        </ul>
        <h2>Anafora</h2>
        <ul>
            <li>opakování stejných slov na začátku veršů</li>
            <p>Na břehu řeky Svratky kvete rozrazil,<br>na břehu řeky Svratky roste nízká tráva... - Nezval</p>
        </ul>
    </div>
</section>