@page "/li-bajka"

<PageTitle>Bajka</PageTitle>

<section>
    <h1 class="verybig">Bajka</h1>
    <div style="text-align: left;">
        <h2>Charakteristika</h2>
        <p>Vystupují v ní zvířata, věci, rostliny a jednají jako lidé, mají lidské vlastnosti. Bajka poukazuje
            na ty
            špatné. V závěru bývá mravní ponaučení.</p>
        <h2>Autoři</h2>
        <ul>
            <li>Ezop - nejstarší autor, řecký otrok (6. století př. n. l.)</li>
            <li>Jean de la Fontaine [Žán d la Fontén] (17. století)</li>
            <li>Ivan Andrejeviš Krylov (2. polovina 18. sloletí + 1. polovina 19. století)</li>
            <li>Ivan Olbracht - český autor (1882 - 1952)</li>
            <ul>
                <li>O mudrci Bidpajovi a jeho zvířátkách</li>
            </ul>
        </ul>
        <h2>Přirovnání</h2>
        <ul>
            <li>pyšný jako páv</li>
            <li>pomalý jako hlemýžď</li>
            <li>chytrý jako liška</li>
            <li>pylný jako včela</li>
            <li>hladový jako vlk</li>
            <li>chudá jako kostelní myš</li>
            <li>moudrý jako sova</li>
            <li>věrný jako pes</li>
            <li>rozumí tomu jako koza petrželi</li>
        </ul>
    </div>
</section>