@page "/li-e-e-e"

<PageTitle>Epifora, Epanastrofa, Epiteton</PageTitle>

<section>
    <h1 class="verybig">Epifora, Epanastrofa, Epiteton</h1>
    <div style="text-align: left;">
        <h2>Epifora</h2>
        <ul>
            <li>opakování stejných slov na konci veršů</li>
            <p>Co máš na té tkaničce<br>na krku na té tkaničce - Erben</p>
        </ul>
        <h2>Epanastrofa</h2>
        <ul>
            <li>opakování stejného slova na konci prvního verše a na začátku následujícího verše</li>
        </ul>
        <h2>Epiteton (básnický přívlastek)</h2>
        <ul>
            <li>blíže určuje, popisuje skutečnost, označuje vlastnost očekávanou, opakovanou</li>
            <li>příklady: hloupý Honza, širé pole</li>
        </ul>
    </div>
</section>