@page "/li-e-e-d"

<PageTitle>Epizeuxis, eufemismus, dysfemismus</PageTitle>

<section>
    <h1 class="verybig">Epizeuxis, eufemismus, dysfemismus</h1>
    <div style="text-align: left;">
        <h2>Epizeuxis</h2>
        <ul>
            <li>opakování téhož slova v jednom verši</li>
            <li>příklad: Utichly továrny, utichly ulice - Wolker</li>
        </ul>
        <h2>Eufemismus</h2>
        <ul>
            <li>jemnějsí vyjádření</li>
            <li>příklad: Až bude růst nade mou tráva... - Bezruč</li>
        </ul>
        <h2>Dysfemismus</h2>
        <ul>
            <li>hrubé vyjádření</li>
            <li>příklad: Zatřepal bačkorama</li>
        </ul>
    </div>
</section>