@page "/li-k-m-m"

<PageTitle>Kontrast, metafora, metonymie</PageTitle>

<section>
    <h1 class="verybig">Kontrast, metafora, metonymie</h1>
    <div style="text-align: left;">
        <h2>Kontrast (protiklad)</h2>
        <ul>
            <li>příklad: Na tváři lehký smích, hluboký v srdci žal... - Mácha</li>
        </ul>
        <h2>Metafora</h2>
        <ul>
            <li>přenesení pojmenování na základě vnější podobnosti</li>
            <li>příklad: v mrazivé chýši, tam ptáčata zbyla... - Bezruč</li>
        </ul>
        <h2>Metonymie</h2>
        <ul>
            <li>přenesení pojmenování na základě vnitřní podobnosti</li>
            <li>příklad: poslouchat Smetanu, vypít sklenici vody</li>
        </ul>
    </div>
</section>