@page "/li-kronika"

<PageTitle>Kronika</PageTitle>

<section>
    <h1 class="verybig">Kronika</h1>
    <div style="text-align: left;">
        <h2>Charakteristika</h2>
        <p>popisuje historické události chronologicky (tak, jak šli za sebou)</p>
        <h2>Nejznámější kroniky:</h2>
        <ul>
            <li>Kosmova kronika česká - psána prózou + latinsky</li>
            <li>Kronika tak řečeného Dalimila (Dalimilova kronika) - psána poezií + česky</li>
        </ul>
    </div>
</section>