@page "/li-legenda"

<PageTitle>legenda</PageTitle>

<section>
    <h1 class="verybig">Legenda</h1>
    <div style="text-align: left;">
        <h2>Charakteristika</h2>
        <p>Dílo o životě svatých, psána ve verších i ve větách.</p>
        <h2>Příklady:</h2>
        <ul>
            <li>Legenda o svatém Václavovi</li>
            <li>Legenda o svaté Kateřině</li>
            <li>Legenda o svatém Prokopu</li>
        </ul>
    </div>
</section>