@page "/li-o-p-p"

<PageTitle>Onomatopoie, přirovnání, personifikace</PageTitle>

<section>
    <h1 class="verybig">Onomatopoie, přirovnání, personifikace</h1>
    <div style="text-align: left;">
        <h2>Onomatopoie[je] (zvukosled)</h2>
        <ul>
            <li>napodobení zvuku slovy</li>
            <li>příklad: řinčí řetěrů hřmot</li>
        </ul>
        <h2>Přirovnání</h2>
        <ul>
            <li>srovnání dvou věcí (jako)</li>
            <li>příklad: chudý <strong>jako</strong> kostelní myš</li>
        </ul>
        <h2>Personifikace</h2>
        <ul>
            <li>zosobnění</li>
            <li>věci zvířata, rostliny dělají to, co lidé</li>
            <li>příklad: Zima přichází jako tichá umělkyně, která maluje krajinu bledými tóny.</li>
        </ul>
    </div>
</section>