@page "/li-povidka"

<PageTitle>Povídka</PageTitle>

<section>
    <h1 class="verybig">Povídka</h1>
    <div style="text-align: left;">
        <h2>Charakteristika</h2>
        <ul>
            <li>psána prózou</li>
            <li>kratší rozsah</li>
            <li>jednoduchý děj</li>
            <li>málo postav</li>
        </ul>
        <h2>Druhy</h2>
        <ul>
            <li>ze součastnosti</li>
            <li>historické</li>
            <li>dobrodružné</li>
            <li>detektivní</li>
            <li>humoristické - povídky Miroslava Šimka a Jiřího Grossmanna - Jak jsem se učil kouřit</li>
        </ul>
        <h2>Nejvýznamější autoři:</h2>
        <ul>
            <li>Karel Čapek - povídky s detektivní tématikou</li>
            <ul>
                <li>Povídky z jedné kapsy</li>
                <li>Povídky z druhé kapsy - Zmizení pana Hirsche</li>
            </ul>
            <li>Jan Neruda</li>
            <ul>
                <li>narozen v Praze na Malé Straně</li>
                <li>prozaik, básník, novinář</li>
                <li>nejznámějsí prozaické dílo: Povídky malostranské</li>
                <ul>
                    <li>soubor 13 povídek</li>
                    <li>děj se odehrává v Praze na Malé Straně</li>
                    <li>autor zachytil život obyčených lidí</li>
                    <li>např.: Doktor Kazisvět - hl. postava - dr. Heribert</li>
                </ul>
            </ul>
            <li>Karel Poláček</li>
            <ul>
                <li>Bylo nás pět</li>
            </ul>
        </ul>
    </div>
</section>