@page "/li-pojmy-v-basni"

<PageTitle>Pojmy v básni</PageTitle>

<section>
    <h1 class="verybig">Pojmy v básni</h1>
    <div style="text-align: left;">
        <h2>Báseň</h2>
        <ul>
            <li>verš - jeden řádek básně, verše se <strong>rýmují</strong></li>
            <li>rým - <strong>zvuková</strong> shoda hlásek na konci veršů</li>
        </ul>
        <h2>Literární druhy</h2>
        <ul>
            <li>lyrika - vyjadžuje city, pocity, náladu autora</li>
            <li>epika - má děj</li>
            <li>drama - divadelní hra, dílo určené k předvádění na jevišti</li>
        </ul>
        <p>Když je něco <strong>lyrickoepické</strong>, tak to má děj, ale vyjadřuje to i city,
            pocity
            atd.</p>
        <h2>Drama (divadelní hra)</h2>
        <p>vypráví se pomocí:</p>
        <ul>
            <li>monolog - mluva jednoho člověka na jevišti</li>
            <li>dialog - rozhovor více postav na jevišti</li>
        </ul>
    </div>
</section>