@page "/li-pohadka"

<PageTitle>Pohádka</PageTitle>

<section>
            <h1 class="verybig">Pohádka</h1>
            <div style="text-align: left;">
                <h2>Charakteristika</h2>
            <p>Byl to původně žánr lidové slovesnosti. Jde o vymyšlený příběh, v němž vystupují <strong>nadpřirozené
                    bytosti</strong>. Námět je vždy boj mezi dobrem a zlem. Vždy končí šťastně.</p>
                    <h2>Další znaky:</h2>
                    <ul>
                        <li>ustálené obraty</li>
                        <ul>
                            <li>začátek - za sedmero horami, bylo nebylo</li>
                            <li>konec - žili šťastně až do smrti, zatvonil zvonec a pohádky je konec</li>
                        </ul>
                        <li>nadpřirozené bytosti - vodník, ježibaba, čert, drak</li>
                        <li>kouzelné předměty - obušek, kouzelné zrcadlo</li>
                        <li>magická čísla - 3, 7, 9</li>
                    </ul>
                    <h2>Sběratelé lidových pohádek</h2>
                    <ul>
                        <li>Božena Němcová</li>
                        <li>K. J. Erben</li>
                        <li>bratři Grimmové</li>
                    </ul>
                    <h2>Sběratelé lidových pohádek, které je upravili</h2>
                    <ul>
                        <li>Karel Čapek</li>
                        <li>Jan Werich</li>
                        <li>H. Ch. Andersen</li>
                    </ul>
            </div>
        </section>