@page "/li-pojmy"

<PageTitle>Základní pojmy</PageTitle>

<section>
    <h1 class="verybig">Základní pojmy</h1>
    <ul class="grid">
        <a href="li-poezie-proza">
        <li class="grid-item">
            <h3 class="grid-h3-2">POEZIE A PRÓZA</h3>
            <div class="grid-content">
            </div>
        </li>
        </a>
        <a href="li-pojmy-v-basni">
        <li class="grid-item">
            <h3 class="grid-h3-2">POJMY V BÁSNI</h3>
            <div class="grid-content">
            </div>
        </li>
        </a>
        <a href="li-rymy">
        <li class="grid-item">
            <h3 class="grid-h3">RÝMY</h3>
            <div class="grid-content">
            </div>
        </li>
        </a>
    </ul>
</section>