@page "/li-povest"

<PageTitle>Pověst</PageTitle>


<section>
    <h1 class="verybig">Pověst</h1>
    <div style="text-align: left;">
        <h2>Charakteristika</h2>
        <p>Je to epický žánr lidové slovesnosti, má vymyšlený příběh, který má pravdivé jádro. Váže
            se ke konkrétnímu místu, osobě, události. Mohou v ní vystupovat nadpřirozené bytosti.
        </p>
        <h2>Základní dělení:</h2>
        <ul>
            <li>národní - líčí dějinnou událost nádora v minulosti</li>
            <li>místní - vztahují se k určitému místu v místě bydlište</li>
        </ul>
        <h2>Staré pověsti české</h2>
        <ul>
            <li>nejznámější české pověsti</li>
            <li>obsahuje: O Čechovi, O Krokovi a jeho dcerách atd.</li>
            <li>autor: Alois Jirásek (1851 - 1930)</li>
        </ul>

    </div>
</section>