@page "/li-poezie-proza"

<PageTitle>Poezie a próza</PageTitle>

<section>
    <h1 class="verybig">Poezie a próza</h1>
    <div style="text-align: left;">
        <h2>Poezie</h2>
        <p>
            Takže, uděláme si v tom jasno, poezie je <strong>básnička</strong>, která je psána ve
            <strong>verších</strong> (pokud nevíte co je verš,
            vysvětlení <a href="li-pojmy-v-basni">zde</a>).
        </p>
        <h2>Próza</h2>
        <p>
            Próza je psána ve větách. K usnadnění tu máte schéma: slovo -> věta -> odstavec -> kapitola -> knížka
        </p>
        <p><em>Jak poznám, jestli je to próza nebo poezie?</em></p>
        <p>
            Úplně jednoduše, tento text je napsán v próze, protože píšu ve větách. Kdežto poezie je psána ve
            verších,
            které se rýmují.
        </p>
        <strong>Báseň</strong>
        <p>
            V básnickém kraji, kde slova jako ptáci,<br>
            srdce mé bije v taktu rýmované hry.<br>
            V tajemství vět, kde se rýmy skládají,<br>
            jsem báseň, co sní o světě, kde písně vznášejí.
        </p>
    </div>
</section>