@page "/li-pojmy"

<PageTitle>Základní pojmy</PageTitle>

<section>
    <h1 class="verybig">Základní pojmy</h1>
    <ul class="grid">
        <li class="grid-item">
            <h3>Poezie a próza</h3>
            <div class="grid-content">
                <button type="button" class="ripple-button" onclick="openPoezie()">Otevřít</button>
            </div>
        </li>
        <li class="grid-item">
            <h3>Pojmy v básni</h3>
            <div class="grid-content">
                <button type="button" class="ripple-button" onclick="openPojmy()">Otevřít</button>
            </div>
        </li>
        <li class="grid-item">
            <h3>Rýmy</h3>
            <div class="grid-content">
                <button type="button" class="ripple-button" onclick="openRymy()">Otevřít</button>
            </div>
        </li>
    </ul>
</section>

<script>
    function openPoezie() {
        window.location.href = "li-poezie-proza"
    }
</script>
<script>
    function openPojmy() {
        window.location.href = "li-pojmy-v-basni"
    }
</script>
<script>
    function openRymy() {
        window.location.href = "li-rymy"
    }
</script>