@page "/li-rymy"

<PageTitle>Rýmy</PageTitle>

<section>
    <h1 class="verybig">Rýmy</h1>
    <div style="text-align: left;">
        <h2>Rýmy</h2>
        <ul>
            <li>obkročný - <strong>schéma</strong>: ABBA, obkročný je proto, že A obchází BB</li>
            <li>přerývaný - <strong>schéma</strong>: ABCA/ABCB, ten se nedá tak rychle zapamatovat, ale pamatujte, že je to ten, který má C</li>
            <li>sdružení - <strong>schéma</strong>: AABB, všechna stejná písmena jsou sdružena (spolu)</li>
            <li>střídavý - <strong>schéma</strong>: ABAB, písmena se střídají</li>
        </ul>
    </div>
</section>