@page "/li-romance"

<PageTitle>Romance</PageTitle>

<section>
    <div class="loading-bar-container">
        <div class="loading-bar"></div>
    </div>
    <h1 class="verybig">Romance</h1>
    <div style="text-align: left;">
        <h2>Charakteristika</h2>
        <p>Je to lyrickoepická báseň středního rozsahu s radostným dějem nejčastěji o lásce (nejen mezi lidmi) a
            šťastným koncem.</p>
    </div>
</section>