@page "/li-zanry"

<PageTitle>Literární žánry</PageTitle>

<section>
    <h1 class="verybig">Literární žánry</h1>
    <ul class="grid">
        
        <li class="grid-item">
            <a href="li-pohadka">
            <h3 class="grid-h3">POHÁDKA</h3>
            </a>
        </li>
        
        
        <li class="grid-item">
            <a href="li-bajka">
            <h3 class="grid-h3">BAJKA</h3>
            </a>
        </li>
        
        
        <li class="grid-item">
            <a href="li-baje">
            <h3 class="grid-h3">BÁJE</h3>
            </a>
        </li>
        
        
        <li class="grid-item">
            <a href="li-povest">
            <h3 class="grid-h3">POVĚST</h3>
            </a>
        </li>
        
        
        <li class="grid-item">
            <a href="li-povidka">
            <h3 class="grid-h3">POVÍDKA</h3>
            </a>
        </li>
        
        
        <li class="grid-item">
            <a href="li-balada">
            <h3 class="grid-h3">BALADA</h3>
            </a>
        </li>
        
        
        <li class="grid-item">
            <a href="li-romance">
            <h3 class="grid-h3">ROMANCE</h3>
            </a>
        </li>
        
        
        <li class="grid-item">
            <a href="li-legenda">
            <h3 class="grid-h3">LEGENDA</h3>
            </a>
        </li>
        
        
        <li class="grid-item">
            <a href="li-kronika">
            <h3 class="grid-h3">KRONIKA</h3>
            </a>
        </li>
        
        
        <li class="grid-item">
            <a href="li-zivotopis">
            <h3 class="grid-h3">ŽIVOTOPIS</h3>
            </a>
        </li>
        
        
        <li class="grid-item">
            <a href="li-cestopis">
            <h3 class="grid-h3">CESTOPIS</h3>
            </a>
        </li>
        
        
        <li class="grid-item">
            <a href="li-drama">
            <h3 class="grid-h3">DRAMA</h3>
            </a>
        </li>
        
        
        <li class="grid-item">
            <a href="li-fejeton">
            <h3 class="grid-h3">FEJETON</h3>
            </a>
        </li>
        
    </ul>
</section>