@page "/li-zanry"

<PageTitle>Literární žánry</PageTitle>

<section>
    <h1 class="verybig">Literární žánry</h1>
    <ul class="grid">
        <li class="grid-item">
            <h3>Pohádka</h3>
            <div class="grid-content">
                <button type="button" class="ripple-button" onclick="openPohadka()">Otevřít</button>
            </div>
        </li>
        <li class="grid-item">
            <h3>Bajka</h3>
            <div class="grid-content">
                <button type="button" class="ripple-button" onclick="openBajka()">Otevřít</button>
            </div>
        </li>
        <li class="grid-item">
            <h3>Báje</h3>
            <div class="grid-content">
                <button type="button" class="ripple-button" onclick="openBaje()">Otevřít</button>
            </div>
        </li>
        <li class="grid-item">
            <h3>Pověst</h3>
            <div class="grid-content">
                <button type="button" class="ripple-button" onclick="openPovest()">Otevřít</button>
            </div>
        </li>
        <li class="grid-item">
            <h3>Povídka</h3>
            <div class="grid-content">
                <button type="button" class="ripple-button" onclick="openPovidka()">Otevřít</button>
            </div>
        </li>
        <li class="grid-item">
            <h3>Balada</h3>
            <div class="grid-content">
                <button type="button" class="ripple-button" onclick="openBalada()">Otevřít</button>
            </div>
        </li>
        <li class="grid-item">
            <h3>Romance</h3>
            <div class="grid-content">
                <button type="button" class="ripple-button" onclick="openRomance()">Otevřít</button>
            </div>
        </li>
        <li class="grid-item">
            <h3>Legenda</h3>
            <div class="grid-content">
                <button type="button" class="ripple-button" onclick="openLegenda()">Otevřít</button>
            </div>
        </li>
        <li class="grid-item">
            <h3>Kronika</h3>
            <div class="grid-content">
                <button type="button" class="ripple-button" onclick="openKronika()">Otevřít</button>
            </div>
        </li>
        <li class="grid-item">
            <h3>Životopis</h3>
            <div class="grid-content">
                <button type="button" class="ripple-button" onclick="openZivotopis()">Otevřít</button>
            </div>
        </li>
        <li class="grid-item">
            <h3>Cestopis</h3>
            <div class="grid-content">
                <button type="button" class="ripple-button" onclick="openCestopis()">Otevřít</button>
            </div>
        </li>
        <li class="grid-item">
            <h3>Drama</h3>
            <div class="grid-content">
                <button type="button" class="ripple-button" onclick="openDrama()">Otevřít</button>
            </div>
        </li>
        <li class="grid-item">
            <h3>Fejeton</h3>
            <div class="grid-content">
                <button type="button" class="ripple-button" onclick="openFejeton()">Otevřít</button>
            </div>
        </li>
    </ul>
</section>

<script>
    function openPohadka() {
        window.location.href = "li-pohadka"
    }
</script>
<script>
    function openBajka() {
        window.location.href = "li-bajka"
    }
</script>
<script>
    function openBaje() {
        window.location.href = "li-baje"
    }
</script>
<script>
    function openPovest() {
        window.location.href = "li-povest"
    }
</script>
<script>
    function openPovidka() {
        window.location.href = "li-povidka"
    }
</script>
<script>
    function openBalada() {
        window.location.href = "li-balada"
    }
</script>
<script>
    function openRomance() {
        window.location.href = "li-romance"
    }
</script>
<script>
    function openLegenda() {
        window.location.href = "li-legenda"
    }
</script>
<script>
    function openKronika() {
        window.location.href = "li-kronika"
    }
</script>
<script>
    function openZivotopis() {
        window.location.href = "li-zivotopis"
    }
</script>
<script>
    function openCestopis() {
        window.location.href = "li-cestopis"
    }
</script>
<script>
    function openDrama() {
        window.location.href = "li-drama"
    }
</script>
<script>
    function openFejeton() {
        window.location.href = "li-fejeton"
    }
</script>