@page "/li-zanry"

<PageTitle>Literární žánry</PageTitle>

<section>
    <h1 class="verybig">Literární žánry</h1>
    <ul class="grid">
        <a href="li-pohadka">
        <li class="grid-item">
            <h3 class="grid-h3">POHÁDKA</h3>
            <div class="grid-content">
            </div>
        </li>
        </a>
        <a href="li-bajka">
        <li class="grid-item">
            <h3 class="grid-h3">BAJKA</h3>
            <div class="grid-content">
            </div>
        </li>
        </a>
        <a href="li-baje">
        <li class="grid-item">
            <h3 class="grid-h3">BÁJE</h3>
            <div class="grid-content">
            </div>
        </li>
        </a>
        <a href="li-povest">
        <li class="grid-item">
            <h3 class="grid-h3">POVĚST</h3>
            <div class="grid-content">
            </div>
        </li>
        </a>
        <a href="li-povidka">
        <li class="grid-item">
            <h3 class="grid-h3">POVÍDKA</h3>
            <div class="grid-content">
            </div>
        </li>
        </a>
        <a href="li-balada">
        <li class="grid-item">
            <h3 class="grid-h3">BALADA</h3>
            <div class="grid-content">
            </div>
        </li>
        </a>
        <a href="li-romance">
        <li class="grid-item">
            <h3 class="grid-h3">ROMANCE</h3>
            <div class="grid-content">
            </div>
        </li>
        </a>
        <a href="li-legenda">
        <li class="grid-item">
            <h3 class="grid-h3">LEGENDA</h3>
            <div class="grid-content">
            </div>
        </li>
        </a>
        <a href="li-kronika">
        <li class="grid-item">
            <h3 class="grid-h3">KRONIKA</h3>
            <div class="grid-content">
            </div>
        </li>
        </a>
        <a href="li-zivotopis">
        <li class="grid-item">
            <h3 class="grid-h3">ŽIVOTOPIS</h3>
            <div class="grid-content">
            </div>
        </li>
        </a>
        <a href="li-cestopis">
        <li class="grid-item">
            <h3 class="grid-h3">CESTOPIS</h3>
            <div class="grid-content">
            </div>
        </li>
        </a>
        <a href="li-drama">
        <li class="grid-item">
            <h3 class="grid-h3">DRAMA</h3>
            <div class="grid-content">
            </div>
        </li>
        </a>
        <a href="li-fejeton">
        <li class="grid-item">
            <h3 class="grid-h3">FEJETON</h3>
            <div class="grid-content">
            </div>
        </li>
        </a>
    </ul>
</section>