@page "/li-zivotopis"

<PageTitle>Životopis</PageTitle>

<section>
    <h1 class="verybig">Životopis</h1>
    <div style="text-align: left;">
        <p><em>*více o historii životopisů <a href="li-zivotopisy">zde</a></em></p>
        <h2>Charekteristika</h2>
        <ul>
            <li>zaznamenává události ze života nějaké významné osobnosti</li>
        </ul>
        <h2>Autobiografie</h2>
        <ul>
            <li>vlastní životopis</li>
            <li>nejznámější: Vita Caroli = Život Karlův - Karel IV.</li>

        </ul>
    </div>
</section>