@page "/li-zivotopis"

<PageTitle>Životopis</PageTitle>

<section>
    <h1 class="verybig">Životopis</h1>
    <div style="text-align: left;">
        <h2>Charekteristika</h2>
        <p>Je to dílo, které zaznamenává události ze života nějaké významné osobnosti.</p>
        <h2>Autobiografie</h2>
        <ul>
            <li>vlastní životopis</li>
            <li>nejznámější: Vita Caroli = Život Karlův - Karel IV.</li>

        </ul>
    </div>
</section>