@page "/literatura"

<PageTitle>Literatura</PageTitle>

<section>
    <h1 class="verybig">Literatura</h1>
    <ul class="grid">
        <li class="grid-item">
            <h3>Základní pojmy</h3>
            <div class="grid-content">
                <button type="button" class="ripple-button" onclick="openPojmy()">Otevřít</button>
            </div>
        </li>
        <li class="grid-item">
            <h3>Literární žánry</h3>
            <div class="grid-content">
                <button type="button" class="ripple-button2" onclick="openZanry()">Otevřít</button>
            </div>
        </li>
        <li class="grid-item">
            <h3>Básnické prostředky</h3>
            <div class="grid-content">
                <button type="button" class="ripple-button2" onclick="openProstredky()">Otevřít</button>
            </div>
        </li>
    </ul>
</section>

<script>
    function openPojmy() {
        window.location.href = "li-pojmy"
    }
</script>
<script>
    function openZanry() {
        window.location.href = "li-zanry"
    }
</script>
<script>
    function openProstredky() {
        window.location.href = "li-prostredky"
    }
</script>