@page "/m-ab-hodnota"

<PageTitle>Absolutní hodnota</PageTitle>

<section>
    <h1 class="verybig">Absolutní hodnota</h1>
    <div style="text-align: left;">
        <h2>Informace</h2>
        <ul>
            <li>udává vzdálenost tohoto čísla od nuly</li>
            <li>jakoby převádí číslo na kladné -8 → 8</li>
        </ul>
        <p class="priklad">|0| = 0<br>|5| = 5<br>|-10| = 10<br>|-8| = 8</p>
    </div>
</section>