@page "/m-c-opacne"

<PageTitle>Číslo opačné</PageTitle>

<section>
    <h1 class="verybig">Číslo opačné</h1>
    <div style="text-align: left;">
        <h2>Informace</h2>
        <ul>
            <li>číslo, které má stejnou <a href="m-ab-hodnota">absolutní hodnotu</a> a nerovná se mu</li>
            <li>měnění mezi záporem a kladem</li>
        </ul>


        <div class="Mcard">
            <div class="Minfo"><span style="font-family: 'Outfit', sans-serif;">ChatGPT</span></div>
            <div class="Mtelo">
                <h5 class="Mnadpis">Co je v matematice číslo opačné?</h5>
                <p class="Mtext">
                    V matematice je číslo opačné k danému číslu takové číslo, které po sečtení s daným číslem
                    dává výsledek nula. Opačné číslo se také nazývá aditivní inverze.
                    <br>
                    <br>
                    Formálně, pokud máme číslo 𝑎, jeho opačné číslo je −𝑎. Když tato dvě čísla sečteme,
                    dostaneme: <span class="priklad">𝑎 + ( −𝑎 ) = 0</span> <br>
                    <br>
                    Příklady: <br>
                    <ul>
                        <li>Opačné číslo k číslu 5 je -5, protože 5+(−5)=0.</li>
                        <li>Opačné číslo k číslu -3 je 3, protože −3+3=0.</li>
                    </ul>
                <p>Tento koncept je důležitý v různých matematických operacích a při řešení rovnic.</p>
                </p>
            </div>
        </div>
    </div>
</section>