@page "/m-c-opacne"

<PageTitle>Číslo opačné</PageTitle>

<section>
    <h1 class="verybig">Číslo opačné</h1>
    <div style="text-align: left;">
        <h2>Informace</h2>
        <ul>
            <li>číslo, které má stejnou <a href="m-ab-hodnota">absolutní hodnotu</a> a nerovná se mu</li>
            <li>měnění mezi záporem a kladem</li>
        </ul>
    </div>
</section>