@page "/m-deleni-zlomku"

<PageTitle>Dělení</PageTitle>

<section>
    <h1 class="verybig">Dělení</h1>
    <div style="text-align: left;">
        <h2>Informace</h2>
        <p>
            jakmile převrátíme (uděláme z např. 4/5 -> 5/4) druhý zlomek, funguje to stejně jako <a href="m-nasobeni-zlomku">násobení</a>
        </p>
    </div>
</section>