@page "/m-nepri-umernost"

<PageTitle>Nepřímá úměrnost</PageTitle>

<section>
    <h1 class="verybig">Nepřímá úměrnost</h1>
    <div style="text-align: left;">
        <h2>Informace</h2>
        <ul>
            <li>závislost proměnných x a y</li>
            <li>
                kolikrát se zvětší hodnota x, tolikrát se zmenší hodnota y a kolikrát se zmenší hodnota x,
                tolikrát se zvětší hodnota y
            </li>
            <li>hodnoty se mění ve stejném převráceném <a href="m-pomer">poměru</a></li>
        </ul>
        <p class="priklad">1 dělník .... 36 dnů<br>za jak dlouho vypokou 2, 3, 4, 5, 10 dělníci?</p>
        <table>
            <tbody>
                <tr>
                    <td>
                        <p>počet dělníků X</p>
                        <p>délka kopání Y</p>
                    </td>
                    <td>
                        <p>1</p>
                        <p>36</p>
                    </td>
                    <td>
                        <p>2</p>
                        <p>18</p>
                    </td>
                    <td>
                        <p>3</p>
                        <p>12</p>
                    </td>
                    <td>
                        <p>4</p>
                        <p>9</p>
                    </td>
                    <td>
                        <p>6</p>
                        <p>6</p>
                    </td>
                    <td>
                        <p>9</p>
                        <p>4</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <p class="priklad">k (koeficient) = 36 (jak dlouho kope jeden dělník)</p>
        <p class="priklad">Počet dnů je nepřímo úměrný počtu dělníků.</p>
        <p>y = 36 ÷ x<br>y = k ÷ x<br>k = y × x</p>
    </div>
</section>