@page "/m-nsd"

<PageTitle>Největší společný dělitel</PageTitle>

<section>
    <h1 class="verybig">Největsí společný dělitel</h1>
    <div style="text-align: left;">
        <h2>Informace</h2>
        <p>Největší společný dělitel 2 čísel je např. 4 a 10 je 2.</p>
        <p>D (28, 35) = 7</p>
        <p class="priklad"><span class="underlined priklad">28</span> <br>1 | 28 <br>2 | 14 <br><strong>4 | 7</strong></p>
        <p class="priklad"><span class="underlined priklad">35</span> <br>1 | 35 <br><strong>5 | 7 </strong></p>
    </div>
</section>