@page "/m-opacny-vyraz"

<PageTitle>Opačný výraz - Matematika</PageTitle>

<section>
    <h1 class="verybig">Opačný výraz</h1>
    <div style="text-align: left;">
        <h2>Informace</h2>
        <p>Najít opačný výraz znamená změnit znaménka u všech členů výrazu.</p>
        <p>Mínus před závorkou mění její obsah na opačný.</p>
        <h2>Příklady</h2>
        <p>2a-5 ... -2a+5<br>-8-2y ... 8+2y<br>-(x³-x²+2x) = -x&sup3;+x&sup2;-2x</p>
    </div>
</section>