@page "/m-porovnavani-zlomku"

<PageTitle>Porovnávání zlomků</PageTitle>

<section>
    <h1 class="verybig">Porovnávání</h1>
    <div style="text-align: left;">
        <h2>1. krok</h2>
        <p>
            převést na stejného <a href="m-teorie-zlomku">jmenovatele</a> (vynásobit nebo vydělit jeden
            zlomek tak, aby měl stejného jmenovatele)
        </p>
        <h2>2. krok</h2>
        <p>zlomek, který má většího čitatele je větší</p>
        <br>
        <img src="images/porovnavani-zlomku.png" style="border-radius: 10px;" width="280px" alt="Porovnávání">
    </div>
</section>