@page "/m-promile"

<PageTitle>Promile</PageTitle>

<section>
    <h1 class="verybig">Promile</h1>
    <div style="text-align: left;">
        <h2>Informace</h2>
        <ul>
            <li>1‰ je 1/1000 a 0,001</li>
            <li>např. 1‰ z 35 = 35 × 0,001 = 0,035</li>
            <li>1000/1000 je základ</li>
            <li>1000/1000 = 1000‰ = 1</li>
        </ul>
        <div class="Mcard">
            <div class="Minfo"><span>Příklad</span></div>
            <div class="Mtelo">
                <h5 class="Mnadpis">Promile alkoholu v krvi</h5>
                <p class="Mtext">
                <p>Máme 6l krve. Naměřili jsme v krvi 5 promile alkoholu. Kolik je alkoholu v krvi?</p>
                <p>5‰ z 6l = 30</p>
                <p>V krvi je 30ml alkoholu.</p>
                </p>
            </div>
        </div>
    </div>
</section>