@page "/m-rozklad"

<PageTitle>Rozklad na prvočísla</PageTitle>

<section>
    <h1 class="verybig">Rozklad na prvočísla</h1>
    <div style="text-align: left;">
        <h2>Informace</h2>
        <p class="priklad"><span class="underlined priklad">60</span> = 2 × 2 × 3 × 5 <br>30 <br>15 <br> 5 <br> 0 <br></p>
        <p class="priklad"><span class="underlined priklad">48</span> = 2 × 2 × 2 × 2 × 3<br>24 <br> 12 <br> 6 <br> 3 <br> 0</p>
    </div>
</section>