@page "/m-rozsirovani-zlomku"

<PageTitle>Rozšiřování</PageTitle>

<section>
    <h1 class="verybig">Rozšiřování</h1>
    <div style="text-align: left;">
        <h2>Informace</h2>
        <ul>
            <li>rozšiřují se vždy čitatel i jmenovatel a to stejně (ve stejném <a href="">poměru</a>)</li>
            <li>můžu rozšiřovat do nekonečna např. 1/2 -> 2/4 -> 4/8 -> 20/40 -> 15000000/30000000</li>
        </ul>
    </div>
</section>