@page "/m-scitani-zlomku"

<PageTitle>Sčítání zlomků</PageTitle>

<section>
    <h1 class="verybig">Sčítání</h1>
    <div style="text-align: left;">
        <h2>Zlomky se stejným jmenovatelem</h2>
        <img src="images/scitani-zlomku1.png" style="border-radius: 10px;" width="220px" alt="Sčítání zlomků">
        <h2>Zlomky s různým jmenovatelem</h2>
        <p>
            Počítají se skoro stejně jako zlomky se stejným jmenovatelem, ale musí se převést (<a href="m-rozsirovani-zlomku">rozšířit</a>, <a href="m-zkracovani-zlomku">zkrátit</a>)
            na stejného <a href="m-teorie-zlomku">jmenovatele</a>.
        </p>
    </div>
</section>