@page "/m-smiseny-zlomek"

<PageTitle>Smíšený zlomek</PageTitle>

<section>
    <h1 class="verybig">Smíšený zlomek</h1>
    <div style="text-align: left;">
        <h2>Informace</h2>
        <ul>
            <li>velká zlomková čára je vždy uprostřed</li>
            <li>nejjednodušší je si představit zlomky ve smíšeném zlomku jako des. čísla</li>
        </ul>
        <img src="images/smiseny_zlomek.png" style="border-radius: 10px;" width="290px" alt="Smíšený zlomek">
    </div>
</section>