@page "/m-teorie-zlomku"

<PageTitle>Teorie</PageTitle>

<section>
    <h1 class="verybig">Teorie</h1>
    <div style="text-align: left;">
        <p><em>*nemůžu napsat zlomky jinak, než 1 pětina = 1/5</em></p>
        <h2>Základní informace</h2>
        <p>zlomek ukazuje přesné číslo (2 ÷ 3 = 0,66 periodických)</p>
        <p>zlomek = des. číslo = něco ÷ něco</p>
        <p>1/5 = 0,20 = 1 ÷ 5</p>
        <h2>Rozdělení</h2>
        <img src="images/zlomek.png" width="300px" style="border-radius: 10px;" alt="Zlomek">
    </div>
</section>