@page "/m-tema"

<PageTitle>Společná témata</PageTitle>

<section>
    <h1 class="verybig">Společná témata</h1>
    <ul class="grid">
        <li class="grid-item">
            <a href="m-zaokrouhlovani">
            <h3 style="font-size: 17px;" class="grid-h3">ZAOKROUHLOVÁNÍ</h3>
            </a>
        </li>
        <li class="grid-item">
            <a href="m-prednost">
            <h3 style="font-size: 20px;" class="grid-h3-2">PŘEDNOST MATEMATICKÝCH OPERACÍ</h3>
            </a>
        </li>
        <li class="grid-item">
            <a href="m-ari-prumer">
            <h3 style="font-size: 23px;" class="grid-h3-2">ARITMETICKÝ PRŮMĚR</h3>
            </a>
        </li>
        <li class="grid-item">
            <a href="m-pomer">
            <h3 class="grid-h3">POMĚR</h3>
            </a>
        </li>
        <li class="grid-item">
            <a href="m-pri-umernost">
            <h3 class="grid-h3-2">PŘÍMÁ ÚMĚRNOST</h3>
            </a>
        </li>
        <li class="grid-item">
            <a href="m-nepri-umernost">
            <h3 class="grid-h3-2">NEPŘÍMÁ ÚMĚRNOST</h3>
            </a>
        </li>
        <li class="grid-item">
            <a href="m-trojclenka">
            <h3 class="grid-h3">TROJČLENKA</h3>
            </a>
        </li>
        <li class="grid-item">
            <a href="m-procenta">
            <h3 class="grid-h3">PROCENTA</h3>
            </a>
        </li>
        <li class="grid-item">
            <a href="m-promile">
            <h3 class="grid-h3">PROMILE</h3>
            </a>
        </li>
        <li class="grid-item">
            <a href="m-meritko">
                <h3 class="grid-h3">MĚŘÍTKO</h3>
            </a>
        </li>
        <li class="grid-item">
            <a href="m-druha-mocnina">
                <h3 class="grid-h3-2">DRUHÁ MOCNINA</h3>
            </a>
        </li>
        <li class="grid-item">
            <a href="m-druha-odmocnina">
                <h3 class="grid-h3-2">DRUHÁ ODMOCNINA</h3>
            </a>
        </li>
        <li class="grid-item">
            <a href="m-treti-mocnina">
                <h3 class="grid-h3-2">TŘETÍ MOCNINA</h3>
            </a>
        </li>
        <li class="grid-item">
            <a href="m-treti-odmocnina">
                <h3 class="grid-h3-2">TŘETÍ ODMOCNINA</h3>
            </a>
        </li>
        <li class="grid-item">
            <a href="m-celkove-odmocniny-mocniny">
                <h3 class="grid-h3-2">CELKOVĚ ODMOCNINY A MOCNINY</h3>
            </a>
        </li>
        <li class="grid-item">
            <a href="m-pyth-veta">
                <h3 class="grid-h3-2">PYTHAGOROVA VĚTA</h3>
            </a>
        </li>
        <li class="grid-item">
            <a href="m-roz-zap-cil-des-sou">
                <h3 class="grid-h3-2">ROZVINUTÝ ZÁPIS ČISLA V DESÍTKOVÉ SOUSTAVĚ</h3>
            </a>
        </li>
        <li class="grid-item">
            <a href="m-promenne">
                <h3 class="grid-h3-2">PROMĚNNÉ</h3>
            </a>
        </li>
        <li class="grid-item">
            <a href="m-jedno-mnohoclen">
                <h3 class="grid-h3-2">JEDNOČLEN A MNOHOČLEN</h3>
            </a>
        </li>
        <li class="grid-item">
            <a href="m-opacny-vyraz">
                <h3 class="grid-h3-2">OPAČNÝ VÝRAZ</h3>
            </a>
        </li>
    </ul>
</section>