@page "/m-zkracovani-zlomku"

<PageTitle>Zkracování</PageTitle>

<section>
    <h1 class="verybig">Zkracování</h1>
    <div style="text-align: left;">
        <h2>Informace</h2>
        <ul>
            <li>zkracují se vždy čitatel i jmenovatel a to stejně (ve stejném <a href="">poměru</a>)</li>
            <li>nemůžu zkracovat do desetinného čísla</li>
            <li>
                když už to dál nemůžu krátit, říká se tomu základní tvar (2/4 -> 1/2), pokud je ale zlomek větší
                než 1 (4/3), můžeme ho napsat jako <a href="m-smisena-cisla">smíšené číslo</a>
            </li>
        </ul>
    </div>
</section>