@page "/m-zlomky"

<PageTitle>Zlomky</PageTitle>

<section>
    <h1 class="verybig">Zlomky</h1>
    <ul class="grid">
        <a href="m-teorie-zlomku">
        <li class="grid-item">
            <h3>Teorie</h3>
            <div class="grid-content">
                <button type="button" class="ripple-button" onclick="openTeorie()">
                    Otevřít
                </button>
            </div>
        </li>
        </a>
        <a href="m-smisena-cisla">
        <li class="grid-item">
            <h3>Smíšená čísla</h3>
            <div class="grid-content">
                <button type="button" class="ripple-button" onclick="openSmisena()">
                    Otevřít
                </button>
            </div>
        </li>
        </a>
        <a href="m-rozsirovani-zlomku">
        <li class="grid-item">
            <h3>Rozšiřování</h3>
            <div class="grid-content">
                <button type="button" class="ripple-button" onclick="openRozsirovani()">
                    Otevřít
                </button>
            </div>
        </li>
        </a>
        <a href="m-zkracovani-zlomku">
        <li class="grid-item">
            <h3>Zkracování</h3>
            <div class="grid-content">
                <button type="button" class="ripple-button" onclick="openZkracovani()">
                    Otevřít
                </button>
            </div>
        </li>
        </a>
        <a href="m-scitani-zlomku">
        <li class="grid-item">
            <h3>Sčítání</h3>
            <div class="grid-content">
                <button type="button" class="ripple-button" onclick="openScitani()">
                    Otevřít
                </button>
            </div>
        </li>
        </a>
        <a href="m-odcitani-zlomku">
        <li class="grid-item">
            <h3>Odčítání</h3>
            <div class="grid-content">
                <button type="button" class="ripple-button" onclick="openOdcitani()">
                    Otevřít
                </button>
            </div>
        </li>
        </a>
        <a href="m-nasobeni-zlomku">
        <li class="grid-item">
            <h3>Násobení</h3>
            <div class="grid-content">
                <button type="button" class="ripple-button" onclick="openNasobeni()">
                    Otevřít
                </button>
            </div>
        </li>
        </a>
        <a href="m-deleni-zlomku">
        <li class="grid-item">
            <h3>Dělení</h3>
            <div class="grid-content">
                <button type="button" class="ripple-button" onclick="openDeleni()">
                    Otevřít
                </button>
            </div>
        </li>
        </a>
        <a href="m-zkracovani-zlomku-nasobeni">
        <li class="grid-item">
            <h3>Zkracování zlomků při násobení</h3>
            <div class="grid-content">
                <button type="button" class="ripple-button3" onclick="openPriNasobeni()">
                    Otevřít
                </button>
            </div>
        </li>
        </a>
    </ul>
</section>

<script>
    function openTeorie() {
        window.location.href = "m-teorie-zlomku.html";
    }
    function openScitani() {
        window.location.href = "m-scitani-zlomku.html";
    }
    function openZkracovani() {
        window.location.href = "m-zkracovani-zlomku.html";
    }
    function openSmisena() {
        window.location.href = "m-smisena-cisla.html";
    }
    function openRozsirovani() {
        window.location.href = "m-rozsirovani-zlomku.html";
    }
    function openOdcitani() {
        window.location.href = "m-odcitani-zlomku.html";
    }
    function openPriNasobeni() {
        window.location.href = "m-zkracovani-zlomku-nasobeni.html";
    }
    function openNasobeni() {
        window.location.href = "m-nasobeni-zlomku.html";
    }
    function openDeleni() {
        window.location.href = "m-deleni-zlomku.html";
    }
</script>