@page "/m-zlomky"

<PageTitle>Zlomky</PageTitle>

<section>
    <h1 class="verybig">Zlomky</h1>
    <ul class="grid">
        <li class="grid-item">
            <a href="m-teorie-zlomku">
            <h3 class="grid-h3">TEORIE</h3>
            </a>
        </li>
        <li class="grid-item">
            <a href="m-smisena-cisla">
            <h3 class="grid-h3-2">SMÍŠENÁ ČÍSLA</h3>
            </a>
        </li>
        <li class="grid-item">
            <a href="m-rozsirovani-zlomku">
            <h3 style="font-size: 23px;" class="grid-h3">ROZŠIŘOVÁNÍ</h3>
            </a>
        </li>
        <li class="grid-item">
            <a href="m-zkracovani-zlomku">
            <h3 class="grid-h3">KRÁCENÍ</h3>
            </a>
        </li>
        <li class="grid-item">
            <a href="m-scitani-zlomku">
            <h3 class="grid-h3">SČÍTÁNÍ</h3>
            </a>
        </li>
        <li class="grid-item">
            <a href="m-odcitani-zlomku">
            <h3 class="grid-h3">ODČÍTÁNÍ</h3>
            </a>
        </li>
        <li class="grid-item">
            <a href="m-nasobeni-zlomku">
            <h3 class="grid-h3">NÁSOBENÍ</h3>
            </a>
        </li>
        <li class="grid-item">
            <a href="m-deleni-zlomku">
            <h3 class="grid-h3">DĚLENÍ</h3>
            </a>
        </li>
        <li class="grid-item">
            <a href="m-zkracovani-zlomku-nasobeni">
            <h3>KRÁCENÍ ZLOMKŮ PŘI NÁSOBENÍ</h3>
            </a>
        </li>
        <li class="grid-item">
            <a href="m-porovnavani-zlomku">
            <h3 class="grid-h3" style="font-size: 23px;">POROVNÁVÁNÍ</h3>
            </a>
        </li>
        <li class="grid-item">
            <a href="m-smiseny-zlomek">
            <h3 class="grid-h3-2" style="font-size: 23px;">SMÍŠENÝ ZLOMEK</h3>
            </a>
        </li>
        <li class="grid-item">
            <a href="m-meritko">
            <h3 class="grid-h3">MĚŘÍTKO</h3>
            </a>
        </li>
    </ul>
</section>