@page "/matematika"

<PageTitle>Matematika</PageTitle>

<section>
    <h1 class="verybig">Matematika</h1>
    <ul class="grid">
        <a href="m-cela-cisla">
        <li class="grid-item">
            <h3>Celá čísla</h3>
            <div class="grid-content">
                <button type="button" class="ripple-button" onclick="openCelaCisla()">
                    Otevřít
                </button>
            </div>
        </li></a>
        <a href="m-desetinna-cisla">
        <li class="grid-item">
            <h3>Desetinná čísla</h3>
            <div class="grid-content">
                <button type="button" class="ripple-button2" onclick="openDesCisla()">
                    Otevřít
                </button>
            </div>
        </li></a>
        <a href="m-zlomky">
        <li class="grid-item">
            <h3>Zlomky</h3>
            <div class="grid-content">
                <button type="button" class="ripple-button" onclick="openZlomky()">
                    Otevřít
                </button>
            </div>
        </li></a>
        <a href="m-tema">
        <li class="grid-item">
            <h3>Společná témata</h3>
            <div class="grid-content">
                <button type="button" class="ripple-button2" onclick="openTema()">
                    Otevřít
                </button>
            </div>
        </li></a>
        <a href="geometrie">
        <li class="grid-item">
            <h3>Geometrie</h3>
            <div class="grid-content">
                <button type="button" class="ripple-button" onclick="openGeometrie()">
                    Otevřít
                </button>
            </div>
        </li></a>
    </ul>
</section>

<script>
    function openCelaCisla() {
        window.location.href = "m-cela-cisla";
    }
</script>
<script>
    function openDesCisla() {
        window.location.href = "m-desetinna-cisla";
    }
</script>
<script>
    function openZlomky() {
        window.location.href = "m-zlomky";
    }
</script>
<script>
    function openTema() {
        window.location.href = "m-tema";
    }
</script>
<script>
    function openGeometrie() {
        window.location.href = "geometrie";
    }
</script>