@page "/ml-cislovky"

<PageTitle>Číslovky</PageTitle>

<section>
    <h1 class="verybig">Číslovky</h1>
    <ul class="grid">
        <a href="ml-deleni-cisl">
        <li class="grid-item">
            <h3>Dělení</h3>
            <div class="grid-content">
                <button type="button" class="ripple-button" onclick="openUrcovani()">Otevřít</button>
            </div>
        </li></a>
        <a href="ml-oba-dva">
        <li class="grid-item">
            <h3>Dva, oba</h3>
            <div class="grid-content">
                <button type="button" class="ripple-button" onclick="openObaDva()">Otevřít</button>
            </div>
        </li></a>
    </ul>
</section>

<script>
    function openUrcovani() {
        window.location.href = "ml-deleni-cisl";
    }
</script>
<script>
    function openObaDva() {
        window.location.href = "ml-oba-dva";
    }
</script>