@page "/ml-castice"

<PageTitle>Částice</PageTitle>

<section>
    <h1 class="verybig">Částice</h1>
    <div style="text-align: left;">
        <h2>Základy</h2>
        <ul>
            <li>uvozují samostatné věty a naznačují  jejich druh (otázku, rozkaz, přání, zvolání)</li>
            <li><span class="underlined">nejsou větnými členy</span></li>
        </ul>
        <h2>Příklady</h2>
        <p>ano, ne, asi, možná, snad, bohužel, prý...</p>
        <h2 style="color: red;">Pozor</h2>
        <ul>
            <li><span class="underlined">To</span> prší! - 9; Já <span class="underlined">to</span> nemám. - 3</li>
            <li><span class="underlined">Že</span> to nevíš? - 9; Věděl, <span class="underlined">že</span> příjde. - 8</li>
            <li>Bylo to <span class="underlined">takhle</span> na podzim. - 9; Dělej to <span class="underlined">takhle</span>. - 6</li>
        </ul>
    </div>
</section>