@page "/ml-druhy-zajmen"

<PageTitle>Druhy a zájmena</PageTitle>

<section>
    <h1 class="verybig">Druhy zájmen</h1>
    <div style="text-align: left;">
        <h2>Základy</h2>
        <ul>
            <li>zastupují nebo ukazují na osoby, zvířata a věci</li>
        </ul>
        <h2>Druhy a zájmena</h2>
        <ul>
            <li>osobní - já, ty, on, ona, ono, my, vy, oni, ony, ona, <strong>se (si)</strong></li>
            <li>přivlastňovací - můj, tvůj, náš, váš, jeho, její, jejich, <strong>svůj</strong></li>
            <li>ukazovací - ten, tento, tenhle, onen, takový, týž, tentýž, <strong>sám</strong></li>
            <li>tázací - kdo?, co?, jaký?, který?, čí?</li>
            <li>vztažná - kdo, co, jaký, který, čí, <a href="ml-zaj-jenz">jenž</a></li>
            <li>neurčitá - základem je: kdo, co, jaký, který, čí - ale musíme za/před ně dát něco podobného:
            </li>
            <ul>
                <li>Před: málo-, leda-, lec-, ně-, atd.</li>
                <li>Za: si, koli atd.</li>
            </ul>
            <p><strong><span style="color: red;">+ všechen, každý</span></strong></p>
            <li>záporná - nikdo, nic, nijaký, ničí, žádný</li>
        </ul>
    </div>
</section>