@page "/ml-deleni-cisl"

<PageTitle>Dělení</PageTitle>

<section>
    <h1 class="verybig">Dělení</h1>
    <div style="text-align: left;">
        <h2>Dělení</h2>
        <ul>
            <li>určité</li>
            <li>neurčité</li>
        </ul>
        <h2>Dělení podle významu</h2>
        <h3>Základní</h3>
        <ul>
            <li>otázka: kolik?</li>
            <li>příklad: jeden, sto, tolik, málo</li>
        </ul>
        <h3>Řadové</h3>
        <ul>
            <li>otázka: kolikátý?</li>
            <li>příklad: první (1.), desátý (10.), několikátý</li>
        </ul>
        <h3>Druhové</h3>
        <ul>
            <li>otázka: kolikery?</li>
            <li>příklad: patery (5), sedmery (7), několikery</li>
        </ul>
        <h3>Násobné</h3>
        <ul>
            <li>otázka: kolikrát?</li>
            <li>příklad: jednou, dvakrát, tolikrát</li>
        </ul>
    </div>
</section>