@page "/ml-deleni-pods-jmen"

<PageTitle>Dělení - Podstatná jména</PageTitle>

<section>
    <h1 class="verybig">Dělení</h1>
    <div style="text-align: left;">
        <ul>
            <li>určujeme: pád, číslo, rod a vzor</li>
            <li>jsou to názvy:</li>
            <ul>
                <span class="underlined">Konkrétní</span>
                <li>osob</li>
                <li>zvířat</li>
                <li>věcí</li>
                <span class="underlined">Abstraktní</span>
                <li>vlastností</li>
                <li>dějů</li>
            </ul>
        </ul>
        <h2>Konkrétní a obstraktní</h2>
        <p>
            Jak vidíte výše, tak konkrétní jsou věci, ja které si můžeme šáhnout a abstraktní jsou, na které si
            nemůžeme šáhnout.
        </p>
        <h2>Pomnožná, hromadná, látková</h2>
        <h3>Pomnožná</h3>
        <ul>
            <li>mají tvary pouze <span class="underlined">čísla množného</span></li>
            <li>označují jednu věc i více věcí (kalhoty, narozerozeniny)</li>
        </ul>
        <h3>Hromadná</h3>
        <ul>
            <li>
                mají tvary pouze <span class="underlined">čísla jednotného</span>, ale více věcí téhož druhu, tvoří
                se obvikle:
            </li>
            <li>končí koncovkou -í, a příponami -ovi, -stvo, -tcvo</li>
        </ul>
        <h3>Látková</h3>
        <ul>
            <li>tvarem <span class="underlined">čísla jednotného</span> označují látku bez ohledu na množství</li>
            <li>při množném čísle vyjadřují jiný význam</li>
            <li>např: voda, dvě vody</li>
        </ul>
    </div>
</section>