@page "/ml-jmenne-tvary"

<PageTitle>Jmenné tvary</PageTitle>

<link href="tabulkak.css" rel="stylesheet" />

<section>
            <h1 class="verybig">Jmenné tvary</h1>
            <div style="text-align: left;">
                <h2>Co to jsou?</h2>
            <p><strong>ZKRÁCENÉ</strong> tvary přídavných jmen</p>
            <p>Užívají se hlavně v <a href="ml-mluv-kat-pods-jmena">1. pádě rodu mužského,</a> a to v přísudku jmenném se sponou</p>
        </div>
            <table>
                <thead>
                    <tr>
                        <th>Č. j.</th>
                        <th>Č. mn.</th>
                        <th>Č. j. (jm.)</th>
                        <th>Č. mn. (jm.)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <p>mladý</p>
                            <p>mladá</p>
                            <p>mladé</p>
                        </td>
                        <td>
                            <p>mladí</p>
                            <p>mladé</p>
                            <p>mladá</p>
                        </td>
                        <td>
                            <p>mlád</p>
                            <p>mláda</p>
                            <p>mládo</p>
                        </td>
                        <td>
                            <p>mládi</p>
                            <p>mlády</p>
                            <p>mláda</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>