@page "/ml-neohebne"

<PageTitle>Neohebné slovní druhy</PageTitle>

<section>
    <h1 class="verybig">Neohebné slovní druhy</h1>
    <ul class="grid">
        
        <li class="grid-item">
            <a href="ml-prislovce">
            <h3 class="grid-h3">PŘÍSLOVCE</h3>
            </a>
        </li>
        
        
        <li class="grid-item">
            <a href="ml-predlozky">
            <h3 class="grid-h3">PŘEDLOŽKY</h3>
            </a>
        </li>
        
        
        <li class="grid-item">
            <a href="ml-spojky">
            <h3 class="grid-h3">SPOJKY</h3>
            </a>
        </li>
        
        
        <li class="grid-item">
            <a href="ml-castice">
            <h3 class="grid-h3">ČÁSTICE</h3>
            </a>
        </li>
        
        
        <li class="grid-item">
            <a href="ml-citoslovce">
            <h3 class="grid-h3">CITOSLOVCE</h3>
            </a>
        </li>
        
    </ul>
</section>