@page "/ml-ostatni"

<PageTitle>Ostatní</PageTitle>

<section>
    <h1 class="verybig">Ostatní</h1>
    <ul class="grid">
        
        <li class="grid-item">
            <a href="ml-pismena">
            <h3 class="grid-h3">PÍSMENA</h3>
            </a>
        </li>
        
        
        <li class="grid-item">
            <a href="ml-skladba">
            <h3 class="grid-h3">SKLADBA</h3>
            </a>
        </li>
        
        
        <li class="grid-item">
            <a href="ml-vety-souveti">
            <h3 class="grid-h3-2">VĚTY A SOUVĚTÍ</h3>
            </a>
        </li>
        
        
        <li class="grid-item">
            <a href="ml-roz-vet-cleny">
            <h3 class="grid-h3-3" style="font-size: 23px;">ROZVÍJEJÍCÍ VĚTNÉ ČLENY</h3>
            </a>
        </li>
        
    </ul>
</section>