@page "/ml-ostatni"

<PageTitle>Ostatní</PageTitle>

<section>
    <h1 class="verybig">Ostatní</h1>
    <ul class="grid">
        <li class="grid-item">
            <h3>Písmena</h3>
            <div class="grid-content">
                <button type="button" class="ripple-button" onclick="openPismena()">Otevřít</button>
            </div>
        </li>
        <li class="grid-item">
            <h3>Skladba</h3>
            <div class="grid-content">
                <button type="button" class="ripple-button" onclick="openSkladba()">Otevřít</button>
            </div>
        </li>
        <li class="grid-item">
            <h3>Věty a souvětí</h3>
            <div class="grid-content">
                <button type="button" class="ripple-button2" onclick="openVetySouveti()">Otevřít</button>
            </div>
        </li>
        <li class="grid-item">
            <h3>Roz. v. členy</h3>
            <div class="grid-content">
                <button type="button" class="ripple-button" onclick="openRozvijejici()">Otevřít</button>
            </div>
        </li>
    </ul>
</section>

<script>
    function openPismena() {
        window.location.href = "ml-pismena"
    }
</script>
<script>
    function openSkladba() {
        window.location.href = "ml-skladba"
    }
</script>
<script>
    function openVetySouveti() {
        window.location.href = "ml-vety-souveti";
    }
</script>
<script>
    function openRozvijejici() {
        window.location.href = "ml-roz-vet-cleny";
    }
</script>