@page "/ml-oba-dva"

<PageTitle>Dva, oba</PageTitle>

<link rel="stylesheet" href="tabulkad.css" />

<section>
    <h1 class="verybig">Oba, dva</h1>
    <div style="text-align: left;">
        <h2>Skloňování</h2>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>mužský</th>
                    <th>ženský</th>
                    <th>střední</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <p>1</p>
                        <p>2</p>
                        <p>3</p>
                        <p>4</p>
                        <p>6</p>
                        <p>7</p>
                    </td>
                    <td>
                        <p>dva</p>
                        <p>dvou</p>
                        <p>dvěma</p>
                        <p>dva</p>
                        <p>dvou</p>
                        <p>dvěma</p>
                    </td>
                    <td>
                        <p>dvě</p>
                        <p>dvou</p>
                        <p>dvěma</p>
                        <p>dvě</p>
                        <p>dvou</p>
                        <p>dvěma</p>
                    </td>
                    <td>
                        <p>dvě</p>
                        <p>dvou</p>
                        <p>dvěma</p>
                        <p>dvě</p>
                        <p>dvou</p>
                        <p>dvěma</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>