@page "/ml-pods-jmena"

<PageTitle>Podstatná jména</PageTitle>

<section>
    <h1 class="verybig">Podstatná jména</h1>
    <ul class="grid">
        <li class="grid-item">
            <h3>Vyjmenovaná slova</h3>
            <div class="grid-content">
                <button type="button" class="ripple-button2" onclick="openVyjmenovana()">Otevřít</button>
            </div>
        </li>
        <li class="grid-item">
            <h3>S/Z/VZ</h3>
            <div class="grid-content">
                <button type="button" class="ripple-button" onclick="openSZVz()">Otevřít</button>
            </div>
        </li>
        <li class="grid-item">
            <h3>Dělení</h3>
            <div class="grid-content">
                <button type="button" class="ripple-button" onclick="openPodstataPodsJmen()">Otevřít</button>
            </div>
        </li>
        <li class="grid-item">
            <h3>Psaní ě nebo ně a je</h3>
            <div class="grid-content">
                <button type="button" class="ripple-button2" onclick="openMbpJeAE()">Otevřít</button>
            </div>
        </li>
        <li class="grid-item">
            <h3>Mluvnické kategorie</h3>
            <div class="grid-content">
                <button type="button" class="ripple-button2" onclick="openMluvKatPodsJmena()">Otevřít</button>
            </div>
        </li>
        <li class="grid-item">
            <h3>5. pád v oslovení</h3>
            <div class="grid-content">
                <button type="button" class="ripple-button2" onclick="openPatyPad()">Otevřít</button>
            </div>
        </li>
        <li class="grid-item">
            <h3>Podmět</h3>
            <div class="grid-content">
                <button type="button" class="ripple-button" onclick="openPodmet()">Otevřít</button>
            </div>
        </li>
        <li class="grid-item">
            <h3>Skloňování lidských částí těla</h3>
            <div class="grid-content">
                <button type="button" class="ripple-button3" onclick="openLidskeCasti()">Otevřít</button>
            </div>
        </li>
        <li class="grid-item">
            <h3>Věta jednoduchá a souvětí</h3>
            <div class="grid-content">
                <button type="button" class="ripple-button3" onclick="openVetaJaS()">Otevřít</button>
            </div>
        </li>
        <li class="grid-item">
            <h3>Skupiny souhlásek</h3>
            <div class="grid-content">
                <button type="button" class="ripple-button2" onclick="openSkupiny()">Otevřít</button>
            </div>
        </li>
        <li class="grid-item">
            <h3>Shoda přísudku s podmětem</h3>
            <div class="grid-content">
                <button type="button" class="ripple-button3" onclick="openShoda()">Otevřít</button>
            </div>
        </li>
    </ul>
</section>

<script>
    function openVyjmenovana() {
        window.location.href = "ml-vyjmenovana";
    }
</script>
<script>
    function openSZVz() {
        window.location.href = "ml-s-z-vz";
    }
</script>
<script>
    function openPodstataPodsJmen() {
        window.location.href = "ml-deleni-pods-jmen";
    }
</script>
<script>
    function openMbpJeAE() {
        window.location.href = "ml-m-b-v-p";
    }
</script>
<script>
    function openMluvKatPodsJmena() {
        window.location.href = "ml-mluv-kat-pods-jmena";
    }
</script>
<script>
    function openPatyPad() {
        window.location.href = "ml-paty-pad";
    }
</script>
<script>
    function openPodmet() {
        window.location.href = "ml-podmet";
    }
</script>
<script>
    function openLidskeCasti() {
        window.location.href = "ml-sklonovani-lids-casti-tela";
    }
</script>
<script>
    function openVetaJaS() {
        window.location.href = "ml-veta-j-a-s";
    }
</script>
<script>
    function openSkupiny() {
        window.location.href = "ml-skupiny-souhl";
    }
</script>
<script>
    function openShoda() {
        window.location.href = "ml-shoda-prisudku-s-podmetem";
    }
</script>
