@page "/ml-pristavek"

<PageTitle>Přístavek</PageTitle>

<section>
	<h1 class="verybig">Přístavek</h1>
<div style="text-align: left">
		<h2>Základy</h2>
		<ul>
			<li>základem je nejčastěji podstatné jméno</li>
			<li>oddělujeme ho z obou stran čárkami</li>
		</ul>
		<h2>Příklady</h2>
		<p>Jana Janová, <span class="underlined">žákyně 1. A třídy</span>, reprezentovala školu.</p>
		<p>K. J. Erben, <span class="underlined">autor známé sbírky balad Kytice</span>, pocházel z dvojčat.</p>
		<p>Facebook, <span class="underlined">nejrozšířenějsí prostředek komunikace</span>, upadá v zapomnění, používají ho už skoro jen dospělí a starší lidé.</p>
</div>
</section>