@page "/ml-prid-jmena"

<PageTitle>Přídavná jména</PageTitle>

<section>
    <h1 class="verybig">Přídavná jména</h1>
    <ul class="grid">
        <a href="ml-mluv-kat-prid">
        <li class="grid-item">
            <h3>Mluvnické kategorie</h3>
            <div class="grid-content">
                <button type="button" class="ripple-button2" onclick="openMluvKat()">Otevřít</button>
            </div>
        </li></a>
        <a href="ml-jmenne-tvary">
        <li class="grid-item">
            <h3>Jmenné tvary</h3>
            <div class="grid-content">
                <button type="button" class="ripple-button" onclick="openJmenne()">Otevřít</button>
            </div>
        </li></a>
        <a href="ml-stupnovani-prid">
        <li class="grid-item">
            <h3>Stupňování</h3>
            <div class="grid-content">
                <button type="button" class="ripple-button" onclick="openStupnovani()">Otevřít</button>
            </div>
        </li></a>
    </ul>
</section>

<script>
    function openMluvKat() {
        window.location.href = "ml-mluv-kat-prid";
    }
</script>
<script>
    function openJmenne() {
        window.location.href = "ml-jmenne-tvary";
    }
</script>
<script>
    function openStupnovani() {
        window.location.href = "ml-stupnovani-prid";
    }
</script>