@page "/ml-predmet"

<PageTitle>Předmět</PageTitle>

<section>
    <h1 class="verybig">Předmět</h1>
    <div style="text-align: left;">
        <h2>Základy</h2>

        <ul>
            <li><span style="color: red;"><strong>ptáme se pádovými otázkami, kromě 5. pádu</strong></span></li>
            <li>je závislý na slovese nebo přídavném jméně (přísudku)</li>
            <li>vyjadřuje osoby, zvířata, věci, kterých se týká děj</li>
            <li>nejčastěji je vyjádřen podstatným jménem, zájmenem nebo infinitivem</li>
        </ul>

        <h2>Příklady</h2>

        <p>Hraju <span class="underlined">fotbal</span>. - Hraju co? - fotbal - předmět ve 4. pádě</p>

        <p>Zajímal se <span class="underlined">o něho</span>. - Zajímal se o koho co? - o něho - předmět ve 4. pádě</p>
    </div>
</section>