@page "/ml-pods-jmena"

<PageTitle>Podstatná jména</PageTitle>

<section>
    <h1 class="verybig">Podstatná jména</h1>
    <ul class="grid">
        
        <li class="grid-item">
            <a href="ml-vyjmenovana">
            <h3 class="grid-h3-2" style="">VYJMENOVANÁ SLOVA</h3>
                </a>
        </li>
        
        
        <li class="grid-item">
            <a href="ml-s-z-vz">
            <h3 class="grid-h3">S/Z/VZ</h3>
            </a>
        </li>
        
        
        <li class="grid-item">
            <a href="ml-deleni-pods-jmen">
            <h3 class="grid-h3">DĚLENÍ</h3>
            </a>
        </li>
        
        
        <li class="grid-item">
            <a href="ml-m-b-v-p">
            <h3>PSANÍ Ě NEBO NĚ A JE</h3>
            </a>
        </li>
        
        
        <li class="grid-item">
            <a href="ml-mluv-kat-pods-jmena">
            <h3 class="grid-h3-2">MLUVNICKÉ KATEGORIE</h3>
            </a>
        </li>
        
        
        <li class="grid-item">
            <a href="ml-paty-pad">
            <h3 class="grid-h3-2">5. PÁD V OSLOVENÍ</h3>
            </a>
        </li>
        
        
        <li class="grid-item">
            <a href="ml-podmet">
            <h3 class="grid-h3">PODMĚT</h3>
            </a>
        </li>
        
        
        <li class="grid-item">
            <a href="ml-sklonovani-lids-casti-tela">
            <h3>SKLOŇOVÁNÍ LIDSKÝCH ČÁSTÍ TĚLA</h3>
            </a>
        </li>
        
        
        <li class="grid-item">
            <a href="ml-skupiny-souhl">
            <h3 class="grid-h3-2">SKUPINY SOUHLÁSEK</h3>
            </a>
        </li>
        
        
        <li class="grid-item">
            <a href="ml-shoda-prisudku-s-podmetem">
            <h3>SHODA PŘÍSUDKU S PODMĚTEM</h3>
            </a>
        </li>
        
    </ul>
</section>
