@page "/ml-paty-pad"

<PageTitle>5. pád v oslovení</PageTitle>

<section>
    <h1 class="verybig">5. pád v oslovení</h1>
    <div style="text-align: left;">
        <p>
            soud<span class="underlined">ce</span> - 5. pád - soud<span class="underlined">ce</span><br>chlap<span class="underlined">ec</span> - 5. pád - chlap<span class="underlined">če</span>
        </p>
        <h2>Tvary</h2>
        <ul>
            <li>krátký - chlapcu...</li>
            <li>hlouhý - chlapcovi</li>
            <li>konec - dlouhý tvar</li>
        </ul>
        <p>Takže o chlapcu Tomášu Dohnálkovi</p>
        <h2 style="color: red;">Pozor!</h2>
        <p>
            Pokud je je pods. jméno podle vzoru <strong>předseda</strong>, má ve všech tvarech dlouhý tvar.
            <br>Např: Předsedovi Otovi Smetanovi
        </p>
    </div>
</section>