@page "/ml-podmet"

<PageTitle>Podmět</PageTitle>
<link rel="stylesheet"href="tabulkak.css" />


<section>
    <h1 class="verybig">Podmět</h1>
    <div style="text-align: left;">
        <h2>Základy</h2>
        <ul>
            <li>vyjadřuje původce, nositele děje</li>
            <li>ptáme se: kdo?, co?, + přísudek</li>
        </ul>
        <h2>Druhy</h2>
        <ul>
            <li>vyjádřený - <span class="underlined">VŠEMI SLOVNÍMI DRUHY</span></li>
            <li>
                nevyjídřený - poznáme z tvaru slovesa nebo z předcházející věty (Zítra pojed<span class="underlined">eme</span> na výlet. - my)
            </li>
            <li>všeobecný - nedovedeme ho jednoznačně pojmenovat, myslí se jím kdokoli, jakákoli osoba (Hlásili to v rozhlase - oni? kdo?)</li>
        </ul>
        <h2>Vyjádření</h2>
        <ul>
            <li>podstatným jménem (PES štěkal.)</li>
            <li>přídavným jménem (NEJLEPŠÍ vyhrál.)</li>
            <li>zájmenem (ON je moucha.)</li>
            <li>číslovkou (PRVNÍ vyhrává.)</li>
            <li>slovesem (MALOVAT mě baví. - infinitiv)</li>
            <li>příslovcem (Každé PROČ má své proto)</li>
            <li>předložkou (DO je předložka.)</li>
            <li>spojkou (PROTOŽE je spojka.)</li>
            <li>částicí (Tvoje ANO zní přesvětčivě.)</li>
            <li>citoslovcem (Ozývalo se MŇAM, MŇAM.)</li>
            <p>- nebo-li všemi slovními druhy 😀</p>
        </ul>
        <h2>Jiné druhy</h2>
        <ul>
            <li>holý - RYTÍŘ usedl na koně.</li>
            <li>rozvitý - UDATNÝ RYTÍŘ usedl na koně.</li>
            <li>několikanásobný - RYTÍŘ A KNĚŽNA usedli na koně.</li>
        </ul>
    </div>
</section>

<section>
    <h2>Shoda přísudku s podmětem</h2>
    <div style="text-align: left;">
        <p style="color: red;">Hledáme pouze u sloves v minulém čase!</p>
        <table>
            <thead>
                <tr>
                    <th>Podmět</th>
                    <th>Přísudek</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <p>mužský Ž</p>
                        <p>mužský N</p>
                        <p>ženský</p>
                        <p>střední</p>
                    </td>
                    <td>
                        <p>-i</p>
                        <p>-y</p>
                        <p>-y</p>
                        <p>-a</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>