@page "/ml-podmet"

<PageTitle>Podmět</PageTitle>
<link rel="stylesheet"href="tabulkak.css" />


<section>
    <h1 class="verybig">Podmět</h1>
    <div style="text-align: left;">
        <h2>Základy</h2>
        <ul>
            <li>vyjadřuje původce, nositele děje</li>
            <li>ptáme se: kdo?, co?, + přísudek</li>
        </ul>
        <h2>Druhy</h2>
        <ul>
            <li>vyjádřený - <span class="underlined">VŠEMI SLOVNÍMI DRUHY</span></li>
            <li>nevyjídřený - poznáme z tvaru slovesa nebo z předcházející věty (Zítra pojed<span
                    class="underlined">eme</span> na výlet. - my)</li>
            <li>všeobecný - nedovedeme ho jednoznačně pojmenovat, myslí se jím kdokoli, jakákoli osoba (Hlásili
                to v rozhlase - oni? kdo?)</li>
        </ul>
        <h2>Vyjádření</h2>
        <ul>
            <li>podstatným jménem (<span class="underlined">pes</span> štěkal.)</li>
            <li>přídavným jménem (<span class="underlined">nejlepší</span> vyhrál.)</li>
            <li>zájmenem (<span class="underlined">on</span> je moucha.)</li>
            <li>číslovkou (<span class="underlined">první</span> vyhrává.)</li>
            <li>slovesem (<span class="underlined">malovat</span> mě baví. - infinitiv)</li>
            <li>příslovcem (Každé <span class="underlined">proč</span> má své proto)</li>
            <li>předložkou (<span class="underlined">do</span> je předložka.)</li>
            <li>spojkou (<span class="underlined">protože</span> je spojka.)</li>
            <li>částicí (Tvoje <span class="underlined">ano</span> zní přesvětčivě.)</li>
            <li>citoslovcem (Ozývalo se <span class="underlined">mňam, mňam</span>.)</li>
            <p>- nebo-li všemi slovními druhy 😀</p>
        </ul>
        <h2>Jiné druhy</h2>
        <ul>
            <li>holý - <span class="underlined">Rytíř</span> usedl na koně.</li>
            <li>rozvitý - <span class="underlined">Udatný rytíř</span> usedl na koně.</li>
            <li>několikanásobný - <span class="underlined">Rytíř a kněžna</span> usedli na koně.</li>
        </ul>
    </div>
</section>

<section>
    <h2>Shoda přísudku s podmětem</h2>
    <div style="text-align: left;">
        <p style="color: red;">Hledáme pouze u sloves v minulém čase!</p>
        <table>
            <thead>
                <tr>
                    <th>Podmět</th>
                    <th>Přísudek</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <p>mužský Ž</p>
                        <p>mužský N</p>
                        <p>ženský</p>
                        <p>střední</p>
                    </td>
                    <td>
                        <p>-i</p>
                        <p>-y</p>
                        <p>-y</p>
                        <p>-a</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>