@page "/ml-roz-vet-cleny"

<PageTitle>Rozvíjející větné členy</PageTitle>

<section>
    <h1 class="verybig">Rozvíjející větné členy</h1>
    <ul class="grid">
        
        <li class="grid-item">
            <a href="ml-predmet">
            <h3 class="grid-h3">PŘEDMĚT</h3>
            </a>
        </li>
        
        
        <li class="grid-item">
            <a href="ml-privlastek">
            <h3 class="grid-h3">PŘÍVLASTEK</h3>
            </a>
        </li>
        
        
        <li class="grid-item">
            <a href="ml-prislovecne-urceni">
            <h3 class="grid-h3-2" style="font-size: 23px;">PŘÍSLOVEČNÁ URČENÍ</h3>
            </a>
        </li>
        
        
        <li class="grid-item">
            <a href="ml-podmet">
            <h3 class="grid-h3">PODMĚT</h3>
            </a>
        </li>
        
        
        <li class="grid-item">
            <a href="ml-prisudek">
            <h3 class="grid-h3">PŘÍSUDEK</h3>
            </a>
        </li>
        
        
        <li class="grid-item">
            <a href="ml-pristavek">
            <h3 class="grid-h3">PŘÍSTAVEK</h3>
            </a>
        </li>
        
        
        <li class="grid-item">
            <a href="ml-doplnek">
            <h3 class="grid-h3">DOPLNĚK</h3>
            </a>
        </li>
        
    </ul>
</section>