@page "/ml-shoda-prisudku-s-podmetem"

<PageTitle>Shoda přísudku s podmětem</PageTitle>

<link rel="stylesheet" href="tabulkak.css">

<section>
    <h1 class="verybig">Shoda přísudku s podmětem</h1>
    <div style="text-align: left;">
        <p style="color: red;">Hledáme pouze u sloves v minulém čase!</p>
        <table>
            <thead>
                <tr>
                    <th>Podmět</th>
                    <th>Přísudek</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <p>mužský Ž</p>
                        <p>mužský N</p>
                        <p>ženský</p>
                        <p>střední</p>
                    </td>
                    <td>
                        <p>-i</p>
                        <p>-y</p>
                        <p>-y</p>
                        <p>-a</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>