@page "/ml-skladba"

<PageTitle>Skladba</PageTitle>

<section>
    <h1 class="verybig">Skladba</h1>
    <div style="text-align: left;">
        <h2>Skladba</h2>
        <p>Druhy vět podle postoje mluvčiho</p>
        <ol>
            <li>oznamovací - tečka</li>
            <p>Auto zastavilo před domem.</p>
            <li>rozkazovací - tečka, vykřičník</li>
            <p>Stuj!</p>
            <li>přací - vykřičník, tečka</li>
            <p>Kéž bychom vyhráli.</p>
            <li>tázací - otazník</li>
            <ul>
                <li>doplňovací - vyžadují doplnění - Kam půjdeme odpoledne? - Domů.</li>
                <li>zjišťovací - odpovídáme ano/ne - Snídáte ráno? - Ano.</li>
            </ul>
        </ol>
        <h2>Věty zvolací - vykřičník</h2>
        <ul>
            <li>jsou vlastně věty oznamovací, tázací a přací</li>
            <li>vyjadřují citový vztah mluvčího</li>
        </ul>
    </div>
</section>