@page "/ml-stupnovani-prid"

<PageTitle>Stupňování - Přídavná jména</PageTitle>

<link rel="stylesheet" href="tabulkak.css" />

<section>
    <h1 class="verybig">Stupňování</h1>
    <div style="text-align: left;">
        <h2>Stupňování</h2>
        <ul>
            <li>většina přídavných jmen může vyjadřovat trojí stupeň</li>
        </ul>
        <h3>První stupeň</h3>
        <p>Zakladní stupeň vlastnosti, např. nový.</p>
        <h3>Druhý stupeň</h3>
        <p>Tvoříme z prvního stupně pomocí přípon: -ší, -ejší, -ější, např. novější</p>
        <h3>Třetí stupeň</h3>
        <p>Tvoříme z druhého stupně předponou nej-, např. nejnovější</p>
        <h2>Nepravidelné skloňování</h2>
        <table>
            <thead>
                <tr>
                    <th>1. stupeň</th>
                    <th>2. stupeň</th>
                    <th>3. stupeň</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <p>malý</p>
                        <p>velký</p>
                        <p>dobrý</p>
                        <p>zlý</p>
                    </td>
                    <td>
                        <p>menší</p>
                        <p>větší</p>
                        <p>lepší</p>
                        <p>horší</p>
                    </td>
                    <td>
                        <p>nejmenší</p>
                        <p>největší</p>
                        <p>nejlepší</p>
                        <p>nejhorší</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>