@page "/ml-skupiny-souhl"

<PageTitle>Skupiny souhlásek</PageTitle>

<section>
    <h1 class="verybig">Skupiny souhlásek</h1>
    <div style="text-align: left;">
        <p>Na rozhraní kořene a přípony dochází někdy ke zdvojení souhlásek. Např:</p>
        <ul>
            <li>denní</li>
            <li>vinný</li>
            <li>kamenný</li>
            <li>ranní</li>
            <li>cenný</li>
            <li>ramenní</li>
        </ul>
        <h3 style="color: red;">Pozor!</h3>
        <p>Před příponami -ík, -ice, -ina píšeme <span class="underlined">píšeme jedno N.</span> Příklad:</p>
        <ul>
            <li>viník</li>
            <li>vinice</li>
            <li>deník</li>
        </ul>
        <h2>Jak to je u zvířat?</h2>
        <p>píše se jedno N, např:</p>
        <ul>
            <li>havraní</li>
            <li>vraní</li>
            <li>klokaní</li>
        </ul>
        <h2>Chyták</h2>
        <p>rané brambory, raná zelenina - význam brzy na jaře (ne ráno)</p>
    </div>
</section>