@page "/ml-s-z-vz"

<PageTitle>S/Z/VZ - Podstatná jména</PageTitle>

<section>
    <h1 class="verybig">S/Z/VZ</h1>
    <div style="text-align: left;">
        <h2>Pravidla</h2>

        <h3>Předpona S</h3>

        <ul>
            <li>směr dohromady, např: <span class="underlined">s</span>hromáždit se</li>
            <li>směr shora dolů,např: <span class="underlined">s</span>hýbat se</li>
            <li>pryč z povrchu, např: <span class="underlined">s</span>mazat</li>
        </ul>

        <h3>Předpona Z</h3>

        <ul>
            <li>změna stavu, např: <span class="underlined">z</span>červenat</li>
        </ul>

        <h3>Předpona VZ</h3>

        <p>Píšeme ve významu směřování <span class="underlined">vz</span>hůru</p>

        <h2>Toto si pamatuj</h2>

        <ul>
            <li>stěžovat si (na někoho) X ztěžovat (práci)</li>
            <li>skončit, shořet, strávit, shnít</li>
            <li>zpěv, zkouška, způsob</li>
        </ul>

    </div>
</section>