@page "/ml-stupnovani-pris"

<PageTitle>Stupňování</PageTitle>

<section>
    <h1 class="verybig">Stupňování</h1>
    <div style="text-align: left;">
        <h2>Pravidelné stupňování</h2>
        <p>Je to stejné jako u <a href="ml-stupnovani-prid">přídavných jmen</a></p>
        <ul>
            <li>2. stupeň - tvoří se z 1. stupně příponami -eji, ěji, -e</li>
            <li>3. stupeň - tvoří se z 2. stupně předponou nej-</li>
        </ul>
        <h2>Nepravidelné stupňování</h2>
        <ul>
            <li>dobře - lépe/líp</li>
            <li>zle - hůře/hůř</li>
            <li>málo - méně/míň</li>
            <li>mnoho - víc/více</li>
            <li>brzy - dřív/dříve</li>
        </ul>
    </div>
</section>