@page "/ml-spojky"

<PageTitle>Spojky</PageTitle>

<section>
    <h1 class="verybig">Spojky</h1>
    <div style="text-align: left;">
        <h2>Základy</h2>
        <ul>
            <li>spojují větné členy</li>
            <li>spojují věty</li>
        </ul>
        <h2>Dělení</h2>
        <h3>Podřadící</h3>
        <p><em>*toto delení pouze platí pro spojky, které spojují věty</em></p>
        <ul>
            <li>spojují <a href="ml-souveti">věty vedlejší</a> k větě, na níž závisí</li>
            <li>např.: že, protože, aby, jestliže, až, něž, -li (Šel-li někam, tak se mi to nebude líbít.)</li>
        </ul>
        <h3>Souřadící</h3>
        <ul>
            <li>spojují souřadné <a href="ml-souveti">věty hlavní</a>, souřadné členy v několikanásobném větném členu</li>
            <li>např.: a, i, nebo, ale, avšak, však, neboť, či...</li>
        </ul>
    </div>
</section>