@page "/ml-slovesa"

<PageTitle>Slovesa</PageTitle>

<section>
    <h1 class="verybig">Slovesa</h1>
    <ul class="grid">
        <a href="ml-mluv-kat-slovesa">
        <li class="grid-item">
            <h3>Mluvnické kategorie</h3>
            <div class="grid-content">
                <button type="button" class="ripple-button2" onclick="openMluvKat()">Otevřít</button>
            </div>
        </li></a>
        <a href="ml-tvary-sloves">
        <li class="grid-item">
            <h3>Tvar jednoduchý a složený</h3>
            <div class="grid-content">
                <button type="button" class="ripple-button3" onclick="openTvar();">Otevřít</button>
            </div>
        </li></a>
    </ul>
</section>



<script>
    function openMluvKat() {
        window.location.href = "ml-mluv-kat-slovesa";
    }
</script>
<script>
    function openTvar() {
        window.location.href = "ml-tvary-sloves";
    }
</script>
