@page "/mluvnice"

<PageTitle>Mluvnice</PageTitle>

<section>
    <h1 class="verybig">Mluvnice</h1>

    <ul class="grid">
        
        <li class="grid-item">
            <a href="ml-ohebne">
            <h3>OHEBNÉ SLOVNÍ DRUHY</h3>
            </a>
        </li>

        <li class="grid-item">
            <a href="ml-neohebne">
            <h3>NEOHEBNÉ SLOVNÍ DRUHY</h3>
            </a>
        </li>
        
        
        <li class="grid-item">
            <a href="ml-ostatni">
            <h3 class="grid-h3">OSTATNÍ</h3>
            </a>
            <div class="grid-content">
            </div>
        </li>
    </ul>
</section>
