@page "/obr-druhy-souveti"

<PageTitle>Obrázek - Druhy vedlejších vět</PageTitle>

<section>
	<h1 class="verybig">Obrázek - Druhy vedlejších vět</h1>
	<button type="button" onclick="openSouvetio()">Zpět</button>
    <br />
    <img src="/images/druhy-ved-vet.png" alt="Chyba není na mé straně" />
</section>

<script>
    function openSouvetio() {
        window.location.href = "ml-souveti";
    }
</script>