
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap');


nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 110px;
    background-color: #35393f;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.mobile-nav {
    visibility: hidden;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 15px 0;
    width: 100%;
    text-align: center;
    transition: background-color 0.3s ease;
}

    nav a:hover {
        background-color: #1f1f1f;
    }

nav hr {
    width: 80px;
}

.mobile-nav a {
    visibility: hidden;
}

.mobile-nav {
    visibility: hidden;
}

@media screen and (max-width: 600px) {

    nav {
        visibility: hidden;
    }

    .mobile-nav a {
        visibility: visible;
    }

    .mobile-nav {
        visibility: visible;
    }


    nav hr {
        width: 300px;
    }

    /* Zobrazení navigačního menu na menších zařízeních */
    .navbar {
        visibility: hidden;
    }
}
