@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <style>
        .navtext {
            margin-bottom: 5rem;
            margin-top: auto;
            color: #646b74;
            text-align: center;
        }
    </style>
    <main>
        <div class="loading-bar-container">
            <div class="loading-bar"></div>
        </div>
        <article>
                <div class="mobile-nav">
                <p><a class="mobile-nav" href="home">Domů</a></p>
                <hr class="mobile-nav">
                <p><a class="mobile-nav" href="mluvnice">Mluvnice</a></p>
                <p><a class="mobile-nav" href="literatura">Literatura</a></p>
                <p><a class="mobile-nav" href="sloh">Sloh</a></p>
                <p><a class="mobile-nav" href="hudebka">Hudební výchova</a></p>
                <p><a class="mobile-nav" href="matematika">Matematika</a></p>
                    <p><a class="mobile-nav" href="chemie">Chemie</a></p>
                <hr class="mobile-nav">
                <p><a class="mobile-nav" href="about">O mně</a></p>
                <p><a class="mobile-nav" href="nazor">Vaše zpětná vazba</a></p>
                <p><a class="mobile-nav" href="changelog">Deník změn</a></p>
                    <span class="navtext">24w49c</span>
            </div>
            @Body
            <br />
            <br />
            <br />
            <br />
        </article>
    </main>


</div>



<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<footer>
    <div class="footer-content">
        <a href="about"><img src="images/white-logo.png" alt="Tobikovo Logo" width="100px"></a>
    </div>
</footer>

<script>
    // bar
    document.addEventListener('DOMContentLoaded', function () {
        var loadingBar = document.querySelector('.loading-bar');

        // Funkce pro aktualizaci šířky loading baru podle pozice scrollování
        function updateLoadingBar() {
            var scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
            var scrollHeight = document.documentElement.scrollHeight || document.body.scrollHeight;
            var clientHeight = document.documentElement.clientHeight;
            var scrollPercent = (scrollTop / (scrollHeight - clientHeight)) * 100;
            loadingBar.style.width = scrollPercent + '%';
        }

        // Aktualizace loading baru při scrollování
        window.addEventListener('scroll', updateLoadingBar);

        // Prvotní nastavení při načtení stránky
        updateLoadingBar();
    });
</script>
<script src="Buttons.js"></script>

