

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">

        <a href=""><img src="images/white-logo.png" width="75px" alt="Logo"></a>

            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <a href="">Domů</a>
            </NavLink>
                <hr style="width: 75px;">

            <NavLink class="nav-link" href="mluvnice">
			<a href="mluvnice">Mluvnice</a>
            </NavLink>

            <NavLink class="nav-link" href="literatura">
			<a href="literatura">Literatura</a>
            </NavLink>

            <NavLink class="nav-link" href="sloh">
            <a href="sloh">Sloh</a>
            </NavLink>
        <hr style="width: 75px;">
        <NavLink class="nav-link" href="kalendar">
            <a href="kalendar">Kalendář na písemky</a>
        </NavLink>
        <hr style="width: 75px;">

        <NavLink class="nav-link" href="about">
            <a href="about">O nás</a>
        </NavLink>
    </nav>
</div>

