<style>
</style>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav">
        <a href="home"><img src="images/white-logo.png" width="75px" alt="Logo"></a>
    
            <NavLink class="nav-link" href="home" Match="NavLinkMatch.All">
            <a href="home">Domů</a>
            </NavLink>
                <hr>

            <NavLink class="nav-link" href="mluvnice">
			<a href="mluvnice">Mluvnice</a>
            </NavLink>

            <NavLink class="nav-link" href="literatura">
			<a href="literatura">Literatura</a>
            </NavLink>

            <NavLink class="nav-link" href="sloh">
            <a href="sloh">Sloh</a>
            </NavLink>
        <NavLink class="nav-link" href="hudebni-vychova">
            <a href="hudebni-vychova">Hudební výchova</a>
        </NavLink>
        <NavLink class="nav-link" href="matematika">
            <a href="matematika">Matematika</a>
        </NavLink>
        <NavLink class="nav-link" href="chemie">
            <a href="chemie">Chemie</a>
        </NavLink>
        <hr>

        <NavLink class="nav-link" href="about">
            <a href="about">O mně</a>
        </NavLink>
        <NavLink class="nav-link" href="nazor">
            <a href="nazor">Vaše zpětná vazba</a>
        </NavLink>
        <NavLink class="nav-link" href="nazor">
            <a href="changelog">Deník změn</a>
        </NavLink>
        <NavLink>
            <span class="navtext">24w50a</span>
        </NavLink>
    </nav>
</div>

